<template>
  <perfect-scrollbar class="flex col page" tag="main">
    <figure class="mainLogo">
      <img alt="Logo Caminhos do Divino" :src="require('@/assets/logoRed.svg')">
    </figure>

    <section class="about">
      <h1>Sobre</h1>
      <p>
        Os católicos creem que “Deus caminha com seu povo”. Em São Luiz do
        Paraitinga, o povo, sem dúvida, também caminha com Ele.
      </p>
      <p>
        Em nome Dele, uma festa nasce todos os anos e a fé se movimenta e
        ocupa toda a cidade.
      </p>
      <p>
        O projeto Caminhos do Divino foi concebido pela artista visual Andrea
        Goldschmidt, com o objetivo de unir o contemporâneo (na forma) e o
        tradicional (no conteúdo) e propõem uma maneira inovadora e
        diferente de vivenciar a festa.
      </p>
      <p>
        A obra é composta por esse webdocumentário e uma exposição
        interativa que usa ferramentas de realidade virtual, realidade
        aumentada e vários conteúdos multimídia.
      </p>
    </section>

    <figure class="regua">
        <img alt="Logos dos patrocinadores" :src="require('@/assets/reguaPB.png')">
    </figure>
  </perfect-scrollbar>
</template>

<style scoped>
  .page {
    align-items: center;
    background-color: #FFB620;
  }
  .about {
    color: #000;
  }

  h1 {font-size: 1.5em; color: #D1182B;}
  p {margin: 1vh 0;}
  figure {margin: 20vh 5vw}
  section {margin: 5vh 10vw}

  td {
    vertical-align: top;
    padding-right: 2vh;
  }
  .title {color: #D1182B;}
  .space {padding-top: 2vh}

  .mainLogo {
    width: 20vw
  }

  @media (orientation: portrait) {
    section {margin: 5vh 5vw}
  }
</style>
