<template>
  <div class="close" @click="$emit('close')">
    <img :src="require('@/assets/BotaoClose.svg')" />
  </div>
</template>

<style scoped>
.close {
  width: 5vw;
  min-width: 30px;
  max-width: 50px;
  height: 5vw;
  min-height: 30px;
  max-height: 50px;
  margin: 3vw;
  position: fixed;
  top:0; right:0;
  transition: all .3s ease;
  opacity: .5;
  cursor: pointer;
  z-index: 100;
}
.close:hover {opacity: 1; background-color: rgba(0,0,0,.1);}
</style>
