<template>
  <main class="group" :style="{'background-color': categoria.color}">
    <h1>{{categoria.name}}</h1>
    <div class="description"><small v-html="categoria.description"></small></div>
    <perfect-scrollbar tag="div" class="flex col wrapper">
      <div v-for="(item, key) in categoria.items" :key="key"
        :class="{
          'unlocked': isCollected(key),
          'flex item': true
          }"
        v-on="isCollected(key) ? { click: () => open(categoria.url, key) } : { click: ($event) => $event.preventDefault() }"
        >
        <figure :style="{'background-color': categoria.color}">
          <img class="icon" :src="require('@/assets/Extra' + categoria.url + 'Br.svg')" :alt="'Ícone do uma galeria de ' + category">
        </figure>
        <h2>{{item.name}}</h2>
        <img class="eye" v-if="isSeen(categoria.url, key)" :src="require('@/assets/visibility.svg')" alt="Ícone simbolizando um colho aberto">
        <img class="lock" v-else :src="require('@/assets/lock.svg')" alt="Ícone simbolizando um cadeado trancado">
      </div>
    </perfect-scrollbar>
  </main>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'collected',
  props: ['category'],
  computed: {
    categoria () { return this.$store.state.collectables[this.category] ? this.$store.state.collectables[this.category] : [] }
  },
  methods: {
    ...mapActions(['seen']),
    isCollected (key) {
      if (this.$store.getters.collected[this.category]) {
        return this.$store.getters.collected[this.category].includes(key)
      } else {
        return false
      }
    },
    isSeen (category, key) {
      if (this.$store.getters.viewed[category]) {
        return this.$store.getters.viewed[category].includes(key)
      } else {
        return false
      }
    },
    open (category, key) {
      this.seen({ path: category, step: key })
      this.$router.push({ name: this.$route.name, params: { type: category, reference: key } })
    }
  }
}
</script>

<style scoped>
    .group {
        top: 0; left: 0;
        width: 100vw; height: 100vh;
        padding: 5vh 20vw;
        overflow: hidden;
        z-index: 89;
        transition: background-color .3s;
    }
    h1 {font-size: 5vh; margin: 2vh 0;}
    .description {margin-bottom: 5vh;}
    .wrapper {position: relative; height: 60vh; overflow: auto;}
    .item {display: flex; align-items: center; opacity: .5; order: 2; height: calc(3vw + 4.5vh); min-height: 7.5vh;}
    .item.unlocked {opacity: 1; cursor: pointer; order: 1}
    .item h2 {flex-grow: 1; text-align: left;}
    figure, .lock, .eye {width: 3vw; min-width: 3vh; margin: 0 2vh; position: relative;}
    .collectedIcon {mix-blend-mode: overlay; padding: 10%;}
    .lock, .eye {width: 1.5vw; min-width: 2vh;}
    .unlocked .lock {visibility: hidden;}

    ol::-webkit-scrollbar-track { background: green;}

    @media (orientation: portrait) {
        .group { padding: 5vh 5vw; }
    }
</style>
