<template>
  <main
    class="flex col center"
    v-touch:swipe.top="closeCover"
    @click="closeCover">
    <section class="frame">
      <img class="adorno tl" :src="require('@/assets/AdornoTxtSide.svg')" />
      <img class="adorno tr" :src="require('@/assets/AdornoTxtSide.svg')" />
      <img class="adorno bl" :src="require('@/assets/AdornoTxtSide.svg')" />
      <img class="adorno br" :src="require('@/assets/AdornoTxtSide.svg')" />
      <img class="middle top" :src="require('@/assets/AdornoTxtMiddle.svg')" />
      <img class="middle bottom" :src="require('@/assets/AdornoTxtMiddle.svg')" />
      <div
        ref="frame"
        v-html="$store.state.script[$route.params.path].text"
        >
      </div>
    </section>
    <figure class="icon">
      <img
        class="flex center svg blink"
        alt="Ícone representando um clique"
        :src="require('@/assets/icone-click.svg')">
    </figure>
  </main>
</template>

<script>
export default {
  methods: {
    closeCover () {
      this.$emit('closeCover')
    }
  }
}
</script>

<style scoped>
  main {
    background-color: #000;
    z-index: 100;
    position: absolute;
  }
  .frame {
    position: relative;
    display: inline-block;
    border: 2px solid #FFB71B;
    padding: 2.5%;
    margin: 0 20vw;
  }

  .frame >>> p {
    margin-left: 7.5%;
  }
  .frame >>> .first-letter {
    position: absolute;
    transform: translateX(-110%);
    padding: 1.5vh 1% 1% 1%;
    margin: 0;
    border-radius: 5%;
    font-family: 'Dearest';
    color: #FFB71B;
    background-color: #D1182B;
  }

  .adorno {position: absolute; width:15vh; max-width: 100px; z-index: 77;}
      .tl {top:-1vh; left: -1vh;}
      .tr {top:-1vh; right: -1vh; transform: rotate(90deg)}
      .bl {bottom:-1vh; left: -1vh; transform: rotate(270deg)}
      .br {bottom:-1vh; right: -1vh; transform: rotate(180deg)}

  .middle {position: absolute; width:25vh; max-width: 175px;  z-index: 77;}
    .top {top:-2vh; left: 50%; transform: translateX(-50%);}
    .bottom {bottom:-2vh; left: 50%; transform: rotate(180deg)translateX(50%);}

  .icon {
    position: absolute;
    z-index: 88;
    padding: 2.5vh;
    max-height: 10vh;
    bottom: 2vh;
  }

  @media (orientation: portrait) {
    .frame {
      padding: 10%;
    }
    .adorno {width: 10vw;}
    .middle {width: 20vw;}
    .frame { margin: 0 10vw }
  }

  @media (orientation: landscape) and (max-width: 900px) {
    .frame { margin: 0 5vw }
  }
</style>
