<template>
  <perfect-scrollbar class="flex col page" tag="main">
    <figure class="mainLogo">
      <img alt="Logo Caminhos do Divino" :src="require('@/assets/logoRed.svg')">
    </figure>

    <section class="credits">
      <h1 class="red">Créditos</h1>
      <p style="color: #000">
        Caminhos do Divino é resultado da participação de muitas
        pessoas, em especial da população da cidade, responsável pela
        manutenção dessa importante festa popular brasileira.
      </p>
      <table>
        <template v-for="(info, key) in infos">
          <tr v-for="(credit, index) in info" :key="key+index">
            <td v-if="index === 0" class="space title" :rowspan="info.length">{{key}}</td>
            <td :class="{'space' : index === 0, 'credit': true}" v-html="credit"></td>
          </tr>
        </template>
      </table>
    </section>

    <figure class="regua">
        <img alt="Logos dos patrocinadores" :src="require('@/assets/reguaPB.png')">
    </figure>
  </perfect-scrollbar>
</template>

<style scoped>
  .page {
    align-items: center;
    background-color: #FFB620;
  }
  .credits {
    max-width: 90vw;
  }

  h1 {font-size: 1.5em;}
  p {margin: 1vh 0;}
  figure {margin: 20vh 5vw}
  section {margin: 5vh 10vw}

  table {max-width: 90%;}
  td {
    vertical-align: top;
    padding-right: 2vh;
  }

  .title {color: #D1182B;}
  .credit {padding: 1vh 0}
  .space {padding-top: 2vh}
  .credit >>> a {text-decoration: underline;}

  .credit >>> ol li {margin-left: 50px;}

  .mainLogo {
    width: 20vw
  }

  @media (orientation: portrait) {
    section {margin: 5vh 5vw}
  }
</style>

<script>
export default {
  data () {
    return {
      infos: {
        'Direção geral': ['<a href="https://www.festasbrasileiras.com.br" target="_blank">Andrea Goldschmidt</a>'],
        'Produção executiva': ['Vandreza Freiria'],
        Roteiros: ['Andrea Goldschmidt', 'Sylvia Sanchez'],
        'Captação de imagens': ['Andrea Goldschmidt'],
        Entrevistas: ['Vandreza Freiria'],
        'Edição de vídeos': ['Íris de Oliveira'],
        'Edição de depoimentos': ['Andrea Goldschmidt'],
        'Tratamento de áudio (vídeos de Luis Claudio Saad e Suelen Bonafé)': ['Daniel Magnani'],

        Músicas: [
          '<i>A nós descei Divina Luz</i> (vídeo “A fé no Divino”) interpretada por Jacque Falcheti',
          '<i>A ti meus dons</i> (vídeos “Pentecostes” e “Comida Sagrada”) de Pedro Moradei, interpretada pela Banda Lume',
          '<i>Cordeiro</i> (vídeo “Trabalho Voluntário”) de Pedro Moradei, interpretada pela Banda Lume',
          '<i>Diga sim</i> (vídeo “Trabalho Voluntário”) de Pedro Moradei, interpretada pela Banda Lume',
          '<i>Diversões do Pouso</i> (vídeos “Dança do Sabão”, “Dança de São Gonçalo”, Moçambique, “jongo Caboclo”, “outras danças no Pouso” e “Congada, Moçambique e Maracatu”) interpretadas por Amarildo Pereira Marcos',
          '<i>Dobrado Major Wolmer da Silveira</i> (vídeo Procissão de Pentecostes) composição de José Custódio Sobrinho, interpretada pela Corporação Musical São Luiz de Tolosa',
          '<i>Festa do Divino</i> (vídeos “O festeiro” e “preparação do Afogado”) de Afonso Pinto, interpretada por Galvão Frade',
          '<i>Morada Campesina de Rui Kleiner</i> (vídeos “Vivendo a Novena” e mídia linear de apresentação do projeto)',
          '<i>Não tem jeito</i> (vídeo “Cavalhada”) autoria e interpretação de Galvão Frade',
          '<i>Nossa Bandeira</i> (vídeo “Amor à bandeira”) de Pedro Moradei, interpretada pela Banda Lume',
          '<i>Pequei, Senhor</i> (vídeo “Os dons do Divino”) de Pedro Moradei, interpretada pela Banda Lume',
          '<i>Sequência – dois coros</i> (vídeo “Símbolos do Divino”) de Pedro Moradei, interpretada pela Banda Lume'
        ],

        'Trilha sonora original': ['Rui Kleiner'],
        'Poesia de abertura': ['Benedito dos Santos – Ditão Virgílio (autoria e declamação)'],

        Narração: [
          'Vídeo de abertura “poesia do Divino” – autoria e declamação Benedito dos Santos (Ditão Virgílio)',
          'Vídeo 360 graus da experiência de realidade aumentada e vídeo “Vivendo a Novena” - Andrea Goldschmidt',
          'Vídeo “A Preparação do Afogado” - Nancy Galvão',
          'Experiência de realidade aumentada “Os dons do Divino” – Andrea Goldschmidt',
          'Experiência de realidade aumentada “Versículos da Bíblia” – Vanderlei Freiria'
        ],

        Fotografias: [
          'Andrea Goldschmidt',
          'Antonio Carlos Lima',
          'Benedito Barbosa',
          'Bete Marques',
          'Jerry Rodrigues',
          'Joelma do Couto',
          'José Renato Freire de Sousa',
          'Levi Bianco',
          'Roger Moura'
        ],

        'Fotografias históricas': [
          'Benedito Barbosa',
          'Benito Campos',
          'João Rafael Cursino dos Santos',
          'José Roberto Landim',
          'Juventino Galhardo',
          'Odilon Francisco Bonafé',
          'Rodolfo Gedeon',
          'Rogério Bilard',
          'Rosa Maria Antunes',
          'Antonio Carlos Ivo Salinas (por Luisa Detolvo Cruz)'
        ],

        'Obras de arte': [
          '<b><i>Vídeo “A Origem das Procissões</i></b>”',
          `<ol><li>Medieval Wars: The Battle of Agincourt 1415 – site</li>
          <li>LearningHistory.com</li>
          <li>Army of the Eastern Roman Empire</li>
          <li>L´Ouvrie (1862): Saint Louis leaves for Crusades</li>
          <li>Amy´s Art Manna From Heaven</li>
          <li>Moisés abrindo o mar vermelho - Providence Lithograph Company/Wikimedia Commons/Public Domain</li>
          <li>Moses Leaving To Egypt - Pietro Perugino</li>
          <li>Fantasy landscape</li>
          <li>Vídeo “Congadas”</li>
          <li>Feast of the Epiphany</li>
          <li>The Epiphany of the lor</li></ol>`,
          '<b><i>Vídeo “Pentecostes”</b></i>',
          `<ol><li>A Ressurreição de Jesus de Nicolas Bertin</li>
          <li>Aparência atrás de portas trancadas (painel 1) de Duccio di Buoninsegna</li>
          <li>São Cleofas de Joseph von Führich  (1837)</li>
          <li>Treviso - O Cristo Ressuscitado de Sebastiano del Piombo</li>
          <li>Ícone da Ascensão, Novgorod, século 15</li>
          <li>Day of Pentecost, Jean II Restout, (1692-1768)</li>
          <li>Batismo de Cristo de Francesco Trevisani</li>
          <li>Taufe Christi de Giovan Battista Beinaschi</li>
          <li>Espírito Santo · Pentecostes de Antoni Viladomat</li>
          <li>A Ressurreição de Andrea Mantegna</li>
          <li>Pentecostes de Juan Bautista Maino</li>
          <li>Ascensão de Jesus  de Giovanni Domenico</li>
          <li>A ressurreição de Cristo de Juan Bautista Maino</li>
          <li>The Resurrection of Christ 1675-1700 (autor desconhecido)</li>
          <li>Pentecostes de Fray Juan Bautista Maín</li></ol>`
        ],

        'Imagens de Drone': ['Gabriel Pedro Sousa'],
        'Imagens da GoPro (Cavalhada)': ['André Rocha'],

        'Imagens 360 graus': [
          'Andrea Goldschmidt',
          'Aliel Moreira de Lima (procissão da novena)',
          'Juliana Prado (procissão de pentecostes)',
          'Vandreza Freiria (procissão da novena)'
        ],

        'Edição de fotografias': ['Sylvia Sanchez', 'Andrea Goldschmidt'],
        'Design, Ilustrações e Animações': ['Luiz Matheus Vieira'],
        'Desenvolvimento webdoc': ['Eduardo Liron - <a target="_blank" href="https://www.graofilmes.com.br">Grão Filmes</a>'],
        'Realidade Aumentada': ['Alexandre Boneto - Onlayers'],
        'Edição Realidade Virtual': ['Andrea Goldschmidt'],
        Cenografia: ['Claudio Valente'],

        'Assessoria técnica e histórica': [
          'Vídeos “o Festeiro” e “Comida Sagrada” – Adriana Oliveira Silva',
          'Vídeos “Amor à bandeira” e “Tradições e modernidade” – Denise Pimenta',
          'Vídeo “A presença dos mouros na península ibérica” – Esther Rapoport',
          'Vídeos “O Festeiro”, “O Divino na sua casa”, “Histórias da Folia”, “Amor à bandeira” e “Cavalhada” – João Rafael Cursino dos Santos',
          'Vídeo “A Origem das procissões” – Marcia Molinari Bertolino'
        ],

        'Assessoria de imprensa': ['Fernanda Martins'],

        'Participação especial, moradores de São Luiz do Paraitinga': [
          'Alexandre Gennari',
          'Alicia Rafaella de Campos Rocha',
          'Amarildo Pereira Marcos',
          'Amauri Alexandre Silva Vatriss',
          'Ana Paula de Oliveira Campos',
          'André Rocha',
          'Antônio Carlos de Lima',
          'Antonio Carlos Ivo Salinas ',
          'Antonio Cleydson da Silva',
          'Antonio Henrique da Silva Pinho ',
          'Benedicta Antunes de Andrade (Dona Didi)',
          'Benedita Luzia de Oliveira',
          'Benedito André dos Santos ',
          'Benedito dos Santos (Ditão Virgílio)',
          'Benedito Fatima de Oliveira (Nê)',
          'Benedito Filadélfo de Campos Netto',
          'Benedito Paulo Rocha (Bozó)',
          'Benedito Galvão da Silva (Benê)',
          'Benedito Galvão Frade Junior',
          'Benito Campos',
          'Carmelina de Faria Rocha (Dona Lica do Bozó)',
          'Cleane Aparecida Pereira',
          'Dani Elisangela Silva',
          'Cristina Taeko Hokikoshi',
          'Daniela de Marcedo D´Onofrio Barbosa',
          'Durvalino Jose dos Santos',
          'Edna Nogueira dos Santos',
          'Eduardo de Oliveira Coelho',
          'Eglair Gomes Moreira',
          'Fabio Monteiro Gonçalves',
          'Fátima Regina Lotufo Ortiz',
          'Felipe Vieira Souza',
          'Glaucia Ap. Da Silva Carvalho',
          'Glizulin Santos Souza',
          'Gonçala da Conceição Cabral Fernandes',
          'Hiago Gomes de Gouveia Maia Charleause ',
          'Jerry Luiz Rodrigues da Silva',
          'João Rafael Cursino dos Santos',
          'Joaquina de Oliveira',
          'Jorge Cassio Costa',
          'Jorge Santos ',
          'José Benedito Braz (Zé Vieira)',
          'José Renato Freire de Sousa',
          'José Roberto Landim',
          'Juliana Prado',
          'Laís Santos Gouvêa Rodrigues da Silva ',
          'Laura Braga Candido Silva',
          'Lauro de Castro Farias ',
          'Luiz Claudio da Cunha Saad (Pé de Galo)',
          'Luiz Fernando dos Santos Bonifácio',
          'Luiza Toledo',
          'Lurdes Caldino dos Santos',
          'Maciel Augusto Gomes',
          'Maria Aparecida Cabral',
          'Maria Aparecida Mouro Bueno',
          'Maria Aparecida Tavares Gouveia (Cida Tavares)',
          'Maria Izabel Bonifácio',
          'Maria Lucia de Oliveira Santos',
          'Maria Regina Santos',
          'Marinilda Bertolete Boulay',
          'Maury Alexandre Campos Vatriss',
          'Milene Rodrigues Da Silva',
          'Odilon Francisco Bonafé',
          'Padre Álvaro Mantovani (Tequinho)',
          'Paula Ramos da Silva',
          'Paulo Cesar de Oliveira Coelho',
          'Paulo Roberto de Campos',
          'Paulo Tarcizo da Silva',
          'Pedro Cezar ',
          'Pedro Galvão Moradei',
          'Rafaela Caroline de Oliveira Pereira',
          'Ramon Barbosa Leite',
          'Raquel Santos Gouvêa',
          'Renan Ferreira de Castro',
          'Renilda Aparecida Norberto Faria',
          'Reno Martins de Castro',
          'Robson de Souza Machado',
          'Rodrigo Rodrigues Pereira',
          'Rosa Maria Antunes',
          'Roselaine Aparecida Nunes de Oliveira Campos',
          'Sebastião Bonifácio',
          'Sheila Roque da Silva',
          'Suelen Camila Campos Coelho Bonafé',
          'Sueli Carvalho de Camargo',
          'Sueli Xavier ',
          'Suzi de Aguiar Soares',
          'Tereza Mota dos Santos',
          'Terezinha de Fátima Severino Nascimento',
          'Terezinha Leite Rangel Guimaraes',
          'Vinicius Silveira'
        ]
      }
    }
  }
}
</script>
