<template>
    <div class="displayText">
      <div class="text"
          v-for="(text, key) in texts"
          :key="key">
        <transition name="slide">
          <div class="wrapper"
              v-show="Math.round(currentTime) >= text.in && Math.round(currentTime) <= text.out">
            <img :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
            <h1>{{text.title}}</h1>
            <p>{{text.content}}</p>
            <img class="invert" :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
          </div>
        </transition>
      </div>
    </div>
</template>

<script>
    export default {
        name: "displayText",
        props: ['texts','currentTime']
    }
</script>

<style scoped>
.displayText {
  position: absolute;
  top: 50vh;
  left: 2vw;
  transform: translateY(-50%);
  z-index: 22;
}
.text {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  display: inline-block;
  left: 0;
  width: 40vw;
  padding: 2vh 2vw;
  background: rgba(0,0,0,.5);
}
.wrapper h1, .wrapper p {margin: 2vh;}
.wrapper img {position: absolute; top: -3%; left: 50%; transform: translateX(-50%);}
.wrapper img.invert {top: auto; bottom: -3%; transform: translateX(-50%)rotate(180deg);}

.slide-enter-active, .slide-leave-active { transition: left .5s ease; }
.slide-enter, .slide-leave-to { left: -100vw;}

@media (orientation:portrait) {
  .displayText {
    top: 1vh;
    left: 50vw;
    transform: translateX(-50%);
  }
  .text { font-size: 1.5vh;}
  .wrapper {width: 60vw;}
}

@media (min-width:961px) and (orientation: landscape){
  .wrapper {
    width: 30vw;
  }
  .wrapper img {top: -15%;}
  .wrapper img.invert {bottom: -15%;}
  .text { font-size: 1em; }
}
</style>