<template>
  <perfect-scrollbar class="text">
    <colors v-if="$store.state.collectables.documents.items[$route.params.reference].type == 'Cores'" />
    <receitas v-else-if="$store.state.collectables.documents.items[$route.params.reference].type == 'Receitas'" />
    <slides v-else-if="$store.state.collectables.documents.items[$route.params.reference].type == 'Slides'" />
    <texts v-else />
  </perfect-scrollbar>
</template>

<script>
import texts from '@/components/documents/texts.vue'
import colors from '@/components/documents/colors.vue'
import slides from '@/components/documents/slides.vue'
import receitas from '@/components/documents/receitas.vue'

import { mapActions } from 'vuex'

export default {
  name: 'texto',
  components: {
    texts,
    colors,
    slides,
    receitas
  },
  methods: {
    ...mapActions(['trailed'])
  },
  mounted () {
    if (this.$store.state.collectables.documents.items[this.$route.params.reference].trail) {
      this.trailed({ trail: this.$store.state.collectables.documents.items[this.$route.params.reference].trail, item: this.$route.params.reference })
    }
  }
}
</script>

<style scoped>
  .text {
    width: 100vw; height: 100vh;
    overflow: auto;
  }
</style>
