<template>
  <div class="galeria">
    <div class="title flex col center">
      <img class="detail" :src="require('@/assets/OrnamentadoGalerias02.svg')" />
      <h1>{{$store.state.collectables.gallerys.items[$route.params.reference].name}}</h1>
    </div>
    <div class="frame">
      <swiper :options="swiperOption" ref="mySwiper">
        <swiper-slide
          v-for="(alt, index) in $store.state.collectables.gallerys.items[$route.params.reference].alt"
          :key="index">
          <img
            class="picture"
            :alt="alt"
            :src="require('@/assets/galerias/' + $route.params.reference + '/' + $route.params.reference + '_' + (index + 1) + '.jpg')"
            />
        </swiper-slide>

        <div class="arrow prev" slot="button-prev">
          <img class="inverted" :src="require('@/assets/icone-seta.svg')" alt="Seta para o slide anterior" />
        </div>
        <div class="arrow next" slot="button-next">
          <img :src="require('@/assets/icone-seta.svg')" alt="Seta para o próximo slide" />
        </div>
        <div class="swiper-pagination" slot="pagination"></div>

      </swiper>
      <img class="orn TL" :src="require('@/assets/OrnamentadoGalerias.svg')">
      <img class="orn TR" :src="require('@/assets/OrnamentadoGalerias.svg')">
      <img class="orn BL" :src="require('@/assets/OrnamentadoGalerias.svg')">
      <img class="orn BR" :src="require('@/assets/OrnamentadoGalerias.svg')">
    </div>

  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Galeria',
  data () {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 0,
        grabCursor: true,
        navigation: {
          nextEl: '.next',
          prevEl: '.prev'
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    }
  },
  methods: {
    ...mapActions(['trailed'])
  },
  mounted () {
    if (this.$store.state.collectables.gallerys.items[this.$route.params.reference].trail) {
      this.trailed({ trail: this.$store.state.collectables.gallerys.items[this.$route.params.reference].trail, item: this.$route.params.reference })
    }
  }
}
</script>

<style scoped>
  .title h1 {margin: 0 0 2vh 0;}
  .detail {width: 20vw; max-width: 200px; height: auto;}

  .frame {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 50vh;
  }
  .arrow {
    position: absolute;
    top: 50%;
    width: 5vh;
    height: 5vh;
    transform: translateY(-50%);
    transition: all .3s ease;
    opacity: .5;
    z-index: 88;
    display: block;
  }
  .arrow:hover {opacity: 1}
  .orn {width: 4vw; height: 4vw; max-width: 6vh; max-height: 6vh; position: absolute; }
    .TL {margin-right: 1vw; top:0; left:0}
    .TR {transform: rotate(90deg); top:0; right:0}
    .BL {margin-right: 1vw; transform: rotate(270deg); bottom:0; left:0}
    .BR {transform: rotate(180deg); bottom:0; right:0}
    .next {right: 0;}
  .inverted{transform: rotate(180deg);}
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    max-width: 100%;
  }
  .swiper-slide-active {z-index: 2;}
  .swiper-slide-prev {transform: scale(.8)translateX(100%);opacity: .5;}
  .swiper-slide-next {transform: scale(.8)translateX(-100%);opacity: .5;}

  .swiper-pagination {bottom: -7.5vh !important;}
  .swiper-pagination >>> .swiper-pagination-bullet { background: #fff;}
  .swiper-pagination >>> .swiper-pagination-bullet-active { background: #CE0E2D;}

  .picture {
    object-fit: contain;
    background-color: #fff;
    border: 15px solid #fff;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
  }
  @media (orientation: portrait){
     .arrow, .orn { display: none; }
  }
</style>
