<template>
  <main
    class="index flex col"
    v-touch:swipe.top="emit"
    @click="emit">
    <section class="part flex col center">
      <figure class="grow icon">
        <img class="flex grow center svg" alt="Ícone representando caixa de som" :src="require('@/assets/BotaoSom.svg')">
      </figure>
      <div class="flex grow center">
        <span>Essa é uma experiência interativa melhor visualizada com sua tela na horizontal<br />Lembre-se de ativar o som!</span>
      </div>
    </section>
    <section class="part flex col center grow relative logo">
      <img alt="Logo Caminhos do Divino" class="mainLogo svg" :src="require('@/assets/logoRed.svg')">
    </section>
    <section class="part flex col center">
      <div class="flex grow center">
        <span>Clique para iniciar sua viagem virtual<br />pela festa do Divino de São Luiz do Paraitinga</span>
      </div>
      <figure class="grow icon">
        <img class="flex grow center svg blink" alt="Ícone representando um clique" :src="require('@/assets/icone-click.svg')">
      </figure>
    </section>
  </main>
</template>

<script>
export default {
  methods: {
    emit () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
  .index {
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    padding: 2%;
    z-index: 2000;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFB620;
  }
  .part {
    padding: 2vh;
    min-height: 25vh;
  }
  figure {
    width: 100%;
  }
  span {text-align: center;}
  .icon {max-height: 50px;}

  .logo img {padding: 3vh;}
</style>
