<template>
  <nav ref="menu">
    <!-- Trigger icon -->
    <div class="trigger" @click="triggerMenu">
      <img :src="require('@/assets/divino.svg')" alt="Ícone da bandeira do divino: botão para ativação do menu" />
    </div>

    <!-- Main menu -->
    <transition name="fade">
      <div v-show="showMenu" class="menu flex" @click="triggerMenu">
        <transition name="slide">
          <section v-show="showMenu" class="menuFitas">
            <article class="fitas flex">
              <figure
                v-for="(fita, index) in $store.state.collectables"
                :class="['grow', 'flex', 'col', 'fita', fita.url]"
                :key="index"
                @click="open(index)"
                >
                <img class="icon" :src="require('@/assets/Extra' + fita.url + 'Br.svg')" :alt="'Ícone do uma galeria de ' + fita.name">
                <h1>{{ fita.name }}</h1>
              </figure>
              <figure
                :class="['grow', 'flex', 'col', 'fita']"
                @click="open('profile')">
                <img class="icon" :src="require('@/assets/ExtraPerfil.svg')">
                <h1>Seu Perfil</h1>
              </figure>
            </article>
          </section>
        </transition>

        <div class="logo">
          <router-link :to="{name: 'Home'}">
            <img alt="Logo Caminhos do Divino" :src="require('@/assets/logo.svg')">
          </router-link>
        </div>

        <div class="flex col socialGroup">
          <a class="social" href="https://www.facebook.com/Caminhos-do-Divino-105441371137096" target="_blank">
            <img class="icon" :src="require('@/assets/BotaoFacebook.svg')" alt="Ícone do Facebook">
          </a>
          <a class="social" href="https://www.instagram.com/caminhosdodivino/" target="_blank">
            <img class="icon" :src="require('@/assets/BotaoInstagram.svg')" alt="Ícone do Instagram">
          </a>
          <a class="social" href="mailto:andrea@festasbrasileiras.com.br">
            <img class="icon" :src="require('@/assets/BotaoMail.svg')" alt="Ícone de e-mail">
          </a>
        </div>

        <div class="flex col info">
          <figure class="social" @click="open('about')">
            <img class="icon" :src="require('@/assets/BotaoAbout.svg')" alt="Ícone da pagina Sobre">
            <figcaption class="flex center">Sobre</figcaption>
          </figure>
          <figure class="social" @click="open('credits')">
            <img class="icon" :src="require('@/assets/BotaoCredit.svg')" alt="Ícone dos creditos">
            <figcaption class="flex center">Créditos</figcaption>
          </figure>
          <figure class="social" @click="open('map')">
            <img class="icon" :src="require('@/assets/BotaoMapa.svg')" alt="Ícone do mapa do site">
            <figcaption class="flex center">Mapa do site</figcaption>
          </figure>
        </div>

      </div>
    </transition>
  </nav>
</template>
<script>
export default {
  data () {
    return {
      showMenu: false,
      orientation: 'V'
    }
  },
  methods: {
    open (sub) {
      this.$emit('subMenu', sub)
    },
    triggerMenu () {
      this.showMenu = !this.showMenu
      this.$emit('open', this.showMenu)
    },
    handleOrientationChange () {
      this.orientation = window.screen.height < window.screen.width ? 'V' : 'H'
    }
  }
}
</script>

<style scoped>
nav {
  position: absolute;
}

.trigger {
  position: fixed;
  z-index: 999;
  width: 10vh;
  height: 10vh;
  min-width: 50px;
  min-height: 50px;
  margin: 3vw;
  cursor: pointer;
}

.menu {
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
  position: absolute;
  justify-content: center;
  background: rgba(0,0,0,.8);
  z-index: 888;
}
  .menuFitas {
    position: relative;
  }
  .fitas { width: 100vh;
    height: 70vh;
    padding: 0 .8%;
    top: 0;
    left: 0;
  }
  .fita {
    align-items: center;
    cursor: pointer;
  }
  .fita:hover, .Sobre {color:black}
  .fita .icon {margin: 10vh 10% 5vh 10%; width: 7vh; height: 7vh;}
  .fita h1 {writing-mode: vertical-rl;}

.logo {
  position: absolute;
  top: 3vw; right: 3vw;
  width: 8vw;
}

.socialGroup {
  position: absolute;
  bottom: 3vw; right: 3vw;
}
.social {
  background: transparent;
  border-color: #fff !important;
  color:  #fff !important;
  width: 3vh; height: 3vh;
  min-width: 30px; min-height: 30px;
  margin: .5vh;
  opacity: .5;
  transition: opacity .3s ease;
}
.social:hover {opacity: 1;}
.info {
  position: absolute;
  bottom: 3vw; left: 3vw;
}
figcaption {
  position: absolute;
  height: 100%;
  white-space: nowrap;
  border: 1px solid #fff;
  border-right: 0px;
  border-left: 0px;
  font-size: .9rem;
  margin: 0 1vw;
  visibility: hidden;
}
  .info figcaption { top: 0; left: 100%;}
figure:hover figcaption {
  visibility: visible;
}

.fita h1 {text-align: left; font-size: 3.5vh;}

.menuFitas {
  background-image: url('~@/assets/fitasMenuV.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  .menuFitas {
    height: 100vw; width: 75vw;
  }
  .menu, .fitas {
    flex-direction: column;
    padding: 2% 0;
  }
  .fitas {height: 100%;}
  .fita { flex-direction: row; }
  .fita h1 {font-size: 3.5vw;}
  .fita .icon { margin: 0 2%; width: 5vw; height: 5vw;}
  .fita h1{ writing-mode: unset;}
  .logo {width: 13vh;}
  .socialGroup, .info { bottom: 3vh; right: 3vh; max-width: 50vw; flex-direction: row;}
  .info figcaption { top: auto; left: 50%; bottom: 120%; transform: translateX(-50%);}
  .menuFitas {background-image: url('~@/assets/fitasMenuH.svg')}
}
</style>
