<template>
  <div class="music">
    <img class="gramophone" :src="require('@/assets/gramophone.svg')" alt="Ilustração de um gramofone" />
    <perfect-scrollbar class="playlist">
      <h1 class="flex center">{{musics.name}}</h1>
      <aplayer
        ref="aplayer"
        :music="music"
        :list="list"
        theme="#FFB620"
        autoplay
      />
    </perfect-scrollbar>
    <img class="ornament TL" :src="require('@/assets/OrnamentadoAudio.svg')">
    <img class="ornament TR" :src="require('@/assets/OrnamentadoAudio.svg')">
    <img class="ornament BL" :src="require('@/assets/OrnamentadoAudio.svg')">
    <img class="ornament BR" :src="require('@/assets/OrnamentadoAudio.svg')">
  </div>
</template>

<script>
import Aplayer from 'vue-aplayer'

export default {
  name: 'music',
  components: { Aplayer },
  computed: {
    musics () { return this.$store.state.collectables.musics.items[this.$route.params.reference] },
    music () {
      return {
        title: typeof (this.musics.musics[0]) === 'object' ? this.musics.musics[0].title : this.musics.musics[0],
        artist: typeof (this.musics.musics[0]) === 'object' ? this.musics.musics[0].artist : this.musics.artist,
        src: 'https://www.caminhosdodivino.com.br/audios/' + this.$route.params.reference + '/' + this.$route.params.reference + '_1.mp3'
      }
    },
    list () {
      const list = []
      for (let i = 0; i < this.musics.musics.length; i++) {
        list.push(
          {
            title: typeof (this.musics.musics[i]) === 'object' ? this.musics.musics[i].title : this.musics.musics[i],
            artist: typeof (this.musics.musics[i]) === 'object' ? this.musics.musics[i].artist : this.musics.artist,
            src: 'https://www.caminhosdodivino.com.br/audios/' + this.$route.params.reference + '/' + this.$route.params.reference + '_' + (i + 1) + '.mp3'
          })
      }
      return list
    }
  },
  methods: {
    close () {
      this.$refs.aplayer.pause()
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
  .music {
    background-color: #FFF9EB;
    width: 60vw;
    max-height: 90vh;
    position: relative;
    padding: 10%
  }
  .gramophone {position: absolute; width: 10vw; left: 50%; transform: translate3D(-50%, -70%, 0);}

  .ornament { position: absolute; width: 5vw; height: 5vw; max-width: 70px; max-height: 70px; min-width: 30px; min-height: 30px; }
    .TL {top: 20px; left: 20px;}
    .TR {top: 20px; right: 20px; transform: rotate(90deg);}
    .BL {bottom: 20px; left: 20px; transform: rotate(270deg);}
    .BR {bottom: 20px; right: 20px; transform: rotate(180deg);}

  .playlist {
    width: 100%;
    color: #CE0E2D;
    overflow-y: auto;
  }

  .playlist .aplayer {
    box-shadow: none;
    background-color: transparent;
  }
  .playlist >>> .aplayer-body {margin-bottom: 1vh;}
  .playlist >>> .aplayer-pic {background: transparent;}
  .playlist >>> .aplayer-title {font-family: 'Cinzel Decorative', serif;}
  .playlist >>> .aplayer-bar, .playlist >>> .aplayer-loaded, .playlist >>> .aplayer-played  {height: 1vh !important;}
  .playlist >>> .aplayer.aplayer-withlist .aplayer-body .aplayer-info {border-bottom: none;}
  .playlist >>> .aplayer-thumb {display: none;}

  @media (orientation: portrait) {
    .music { width: 95vw; }
    .music >>> .aplayer-list-author, .frame >>> .aplayer-time { display: none; }
    .playlist { padding: 5%; }
  }

  @media (max-width:961px) and (orientation: landscape){
    .music { width: 95vw; max-height: 90vh; }
    .music >>> .aplayer-list-author, .frame >>> .aplayer-time { display: none; }
    .music { padding: 5%; }
  }

</style>
