<template>
  <perfect-scrollbar class="navMap">
    <header class="mainLogo">
      <router-link class="imgLink flex center" :to="{name: 'Home'}">
        <img alt="Logo Caminhos do Divino" :src="require('@/assets/logoRed.svg')">
      </router-link>
    </header>

    <!-- Paths, videos and collectables -->
    <section class="table">
      <article class="header tableSection flex">
        <div class="tableLogo">
          Caminho
        </div>
        <ol class="rowGroup grow">
          <li class="tableRow flex center">
            <div class="rowName">
              Conteúdo
            </div>
            <div class="flex rowItems">
              <div class="flex col rowItem center" v-for="(collectable, category) in $store.state.collectables" :key="category">
                {{collectable.name}}
              </div>
            </div>
          </li>
        </ol>
      </article>
      <article class="tableSection">
        <ol class="rowGroup grow">
          <li class="opening tableRow flex center">
            <div class="rowName">
              <router-link :to="{ name: 'Home', params: { type: 'Videos', reference: 51 } }" class="tableLogo pageLogo">
                Abertura
              </router-link>
            </div>
            <div class="flex rowItems">
              <div class="flex col rowItem" v-for="(collectable, category) in $store.state.collectables" :key="category">
                <figure
                  class="item"
                  v-if="category === 'videos'"
                  >
                  <img
                    :src="require('@/assets/ExtraVideos.svg')"
                    />
                </figure>
              </div>
            </div>
          </li>
        </ol>
      </article>
      <article
        v-for="(path, pathName) in $store.state.script"
        :key="pathName"
        :class="['tableSection', 'flex', pathName]"
        >
        <div class="tableLogo">
          <figure class="rowFigure">
            <img :alt="'Ícone em formato vitral representando o caminho: ' + path.name" :src="require('@/assets/icon' + path.url +'.png')" />
            <figcaption><h2>{{path.name}}</h2></figcaption>
          </figure>
        </div>
        <ol class="rowGroup grow">
          <li
            v-for="(video, videoId) in path.videos"
            :key="pathName+videoId"
            class="tableRow flex center"
            >
            <div class="rowName">
              <router-link :to="{name: $route.name, params: {type: 'Videos', reference: video.src}}">
                {{$store.state.collectables.videos.items[video.src].name}}
              </router-link>
            </div>
            <div class="flex rowItems">
              <div class="flex col rowItem" v-for="(collectable, category) in $store.state.collectables" :key="category">
                <figure
                  class="item"
                  v-for="(colItem, colIndex) in video.collectables[category]"
                  :key="category+colIndex"
                  >
                  <router-link class="imgLink" :to="{name: $route.name, params: {type: collectable.url, reference: colItem}}">
                    <img
                      :src="require('@/assets/Extra' + collectable.url + '.svg')"
                      />
                  </router-link>
                    <figcaption class="tooltip">{{collectable.items[colItem].name}}</figcaption>
                  </figure>
              </div>
            </div>
          </li>
        </ol>
      </article>
    </section>

    <!-- pages -->
    <section class="table">
      <article
        v-for="(page, pageName) in $store.state.pages"
        :key="pageName"
        class="tableSection flex"
        >
        <div class="tableLogo pageLogo">
            <figure v-if="page.name === 'A Praça'" class="rowFigure">
              <img :alt="'Ícone em formato vitral representando o caminho: ' + page.name" :src="require('@/assets/iconPraca.png')" />
              <figcaption><h2>{{page.name}}</h2></figcaption>
            </figure>
            <h2 v-else>{{page.name}}</h2>
        </div>
        <ol class="rowGroup grow">
          <li
            v-for="(item, itemId) in page.items"
            :key="pageName+itemId"
            class="tableRow flex center"
            >
            <div class="rowName">
              <router-link :to="{name: $route.name, params: {type: $store.state.collectables[item.type].url, reference: item.src}}">
                {{$store.state.collectables[item.type].items[item.src].name}}
              </router-link>
            </div>
              <div class="flex col rowItem" v-for="(collectable, category) in $store.state.collectables" :key="category">
                <figure
                  class="item"
                  v-if="item.type === category"
                  >
                <img
                  :src="require('@/assets/Extra' + $store.state.collectables[item.type].url + '.svg')"
                  />
              </figure>
            </div>
          </li>
        </ol>
      </article>
    </section>
  </perfect-scrollbar>
</template>

<script>
export default {

}
</script>

<style scoped>
  .navMap {
    padding: 2%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #FFB620;
  }
  .mainLogo, .tableLogo {padding: 5vh;}
    .tableLogo { width: 20%; }

  .header {color:#000; font-weight: bold; font-size: .6em; text-align: center;}
    .header .tableLogo {padding: 0 5vh;}

  .tableSection {
    align-items: center;
    width: 100%;
    border-top: 1px solid #fff;
  }
  .praca { display: none; }

  .pageLogo {
    align-self: flex-start;
  }

  .tableRow {
    border-top: 1px solid #fff;
  }
    .tableRow:first-child {
      border-top: none;
    }

  .rowName {
    flex-grow: 1;
    text-align: left;
  }
  .rowItem {
    width: 10vw;
    max-width: 10vh;
  }
  .item {
    padding: 5px;
    position: relative;
  }
    .tooltip {
      position: absolute;
      left: 50%;
      top: 120%;
      transform: translateX(-50%);
      padding: 2vh 2vw;
      font-size: .8em;
      text-align: center;
      white-space: nowrap;
      background: #000;
      border-radius: 30px;
      z-index: 4;
      opacity: 0;
      transition: opacity .3s ease;
      visibility: hidden;
    }
    .item:hover .tooltip {
      visibility: visible;
      opacity: 1;
    }

    @media (orientation: portrait) {
      .table .tableLogo {
          width: 30vw;
          padding: 10px;
      }
      .tableRow { flex-direction: column; align-items: flex-start;}
      .rowItems {flex-wrap: wrap;}
      .rowItem {flex-direction: row; width: auto; max-width:none;}
      .item {width: 15vw;}
      .header .rowItems {display: none;}
      .tooltip {top: auto; bottom: 120%}
      .opening {flex-direction: row; align-items: center;}
    }
</style>
