<template>
  <div class="panorama">

    <div class="title flex col  center">
      <img class="detail" :src="require('@/assets/OrnamentadoGalerias02.svg')" />
      <h1>{{ $store.state.collectables.panoramas.items[$route.params.reference].name }}</h1>
    </div>

    <transition name="slide">
      <div class="wrapper"
        v-show="infoText !== ''">
        <img :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
        <p>{{infoText}}</p>
        <img class="invert" :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
      </div>
    </transition>

    <v-pannellum
      ref="panorama"
      :src="require('@/assets/360/' + $route.params.reference + '.jpg')"
      preview
      :hfov="90"
      :autoRotate="-2"
      :orientation="true"
      :hotSpots="hotSpots"
      v-touch:end="closeText"
    >
    </v-pannellum>
  </div>
</template>

<script>
export default {
  name: 'Panorama',
  data () {
    return {
      infoText: ''
    }
  },
  computed: {
    hotSpots () { return this.$store.state.collectables.panoramas.items[this.$route.params.reference].spots }
  },
  methods: {
    closeText () {
      this.infoText = ''
    }
  },
  mounted () {
    document.addEventListener('nodeClick', (e) => {
      this.infoText = e.detail
    })
  }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,700&display=swap');

  .panorama {width: 100vw; height: 100vh; overflow: hidden;}
  .pannellum { height: 100% }

  .title {position: absolute; left: 50%; transform: translateX(-50%); z-index: 99;}
  .detail {margin: 5vh 0 2vh 0; width: 20vw; max-width: 200px; height: auto;}

  .panorama >>> .bullet {
    width: 5vh; height: 5vh;
    background-color: rgba(0,0,0,.8);
    border-radius: 50%;
  }
  .panorama >>> .bullet:hover {background-color: rgba(0,0,0,1);}
  .panorama >>> .bullet::after {
    content: 'i';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 100%;
    font-family: 'Spectral', serif;
    font-style: italic;
    font-weight: 700;
    color: #fff;
  }

  .button {width: 7.5vw; height: 7.5vh; margin: 5vh; position: absolute; transition: all .3s ease; opacity: .5}
  .button:hover {opacity: 1}
  .close {top:0; right:0}
  .next, .prev {top: 45vh}
  .next {right:0}

  ul {display: flex; position: relative; }
  ul li {margin: 0; width: 100vw; height: 100vh;}
  ul li img {object-fit: cover}

  .wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 50%;
    width: 30vw;
    margin: 2vh 2vw;
    padding: 1vw;
    background: rgba(0,0,0,.5);
    z-index: 99;
    transform: translateY(-50%);
    text-align: center;
  }
  .wrapper p {flex-grow: 1; display: flex; align-items: center; padding: 0 20%;}
  .wrapper img {padding: 0 1vw;}
  .wrapper img.invert {transform: rotate(180deg);}

  .slide-enter-active, .slide-leave-active { transition: right .5s ease; }
  .slide-enter, .slide-leave-to { right: -30vw;}

  @media (orientation: portrait) {
    .hotspot .tooltip { width: 20vh; }
    .wrapper { width: 50vw; }
    .slide-enter, .slide-leave-to { right: -60vw;}
  }
</style>
