<template>
  <main class="postcard relative flex center">
    <div class="wrapper flex">
      <figure>
        <img
          :src="require('@/assets/postais/' + this.$route.params.reference + '.jpg')"
          :alt="$store.state.collectables.postcards.items[this.$route.params.reference].alt"
        />
      </figure>
      <div class="print">
        <button class="social" @click="shareFacebook">
          <img alt="Botão para compartilhamento no facebook" :src="require('@/assets/BotaoFacebook.svg')" />
        </button>
        <button v-show="!crios" class="social" @click="saveAs">
          <img alt="Botão para download" :src="require('@/assets/BotaoDownload.svg')" />
        </button>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'postcard',
  data () {
    return {
      placeholder: 'Clique aqui, escreva sua mensagem e envie o postal para um amigo'
    }
  },
  computed: { crios () { return navigator.userAgent.match('CriOS') } },
  methods: {
    shareFacebook () {
      window.open('http://www.facebook.com/sharer.php?u=' +
        encodeURIComponent('http://caminhosdodivino.com.br/' +
        require('@/assets/postais/' + this.$route.params.reference + '.jpg')),
      'sharer',
      'toolbar=0,status=0,width=626,height=436')
      return false
    },
    saveAs () {
      var link = document.createElement('a')
      if (typeof link.download === 'string') {
        link.href = require('@/assets/postais/' + this.$route.params.reference + '.jpg')
        link.download = this.$store.state.collectables.postcards.items[this.$route.params.reference].name + '.jpg'

        // Firefox requires the link to be in the body
        document.body.appendChild(link)

        // simulate click
        link.click()

        // remove the link when done
        document.body.removeChild(link)
      } else {
        window.open(require('@/assets/postais/' + this.$route.params.reference + '.jpg'))
      }
    },
    erasePH () {
      if (this.placeholder === 'Clique aqui, escreva sua mensagem e envie o postal para um amigo') {
        this.placeholder = ''
      }
    }
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

    .postcard {
        max-width: 60vw;
        max-height: 75vh;
    }
    .postcard img {max-height: 75vh;}

    .print { justify-content: flex-start; }
    .print .social {display: block; border: none; background: transparent; cursor: pointer; margin: 0 0 2vh 2vw;}
    .print .social img {height: 2vw; width: 2vw; min-width: 30px; min-height: 30px;}

    .button {
        width: 7.5vw;
        height: 7.5vh;
        margin: 5vh;
        position: absolute;
        transition: all .3s ease; opacity: .5}
    .button:hover {opacity: 1}
    .close {top:0; right:0}

    @media (orientation: portrait) {
        .wrapper {
            flex-direction: column;
        }
        .print {bottom: 2vh; right: 10vw; height: auto; display: flex; justify-content: flex-end;}
        .print .social {display: inline-block; margin: 2vh 2vw;}
        .print .social img {height: 4vh; width: 4vh;}
    }
</style>
