<template>
  <main class="flex page">
    <section class="profile flex col center grow">
      <h1>Perfil</h1>
      <p v-if="faithTrail > 0 || turistTrail > 0 || knoledgeTrail > 0">
        Suas escolhas até agora te levaram aos seguintes perfis:
      </p>
      <p v-else>
        Suas escolhas de navegação vão acumulando pontos que indicam seu perfil de usuário.
      </p>
      <div class='trail flex'>
        <figure class="trailIcon relative grow" v-if="faithTrail > 0 && faithTrail <= 4">
          <img :src="require('@/assets/Fe1.svg')" />
          <figcaption class="flex center"><h2>Leigo</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="faithTrail > 4 && faithTrail <= 8">
          <img :src="require('@/assets/Fe2.svg')" />
          <figcaption class="flex center"><h2>Católico</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="faithTrail > 8">
          <img :src="require('@/assets/Fe3.svg')" />
          <figcaption class="flex center"><h2>Devoto</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-if="turistTrail > 0 && turistTrail <= 4">
          <img :src="require('@/assets/Turista1.svg')" />
          <figcaption class="flex center"><h2>Marinheiro de primeira viagem</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="turistTrail > 4 && turistTrail <= 8">
          <img :src="require('@/assets/Turista2.svg')" />
          <figcaption class="flex center"><h2>Mochileiro</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="turistTrail > 8">
          <img :src="require('@/assets/Turista3.svg')" />
          <figcaption class="flex center"><h2>Guia de turismo</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-if="knoledgeTrail > 0 && knoledgeTrail <= 4">
          <img :src="require('@/assets/Conhecimento1.svg')" />
          <figcaption class="flex center"><h2>Estudante</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="knoledgeTrail > 4 && knoledgeTrail <= 8">
          <img :src="require('@/assets/Conhecimento2.svg')" />
          <figcaption class="flex center"><h2>Pesquisador</h2></figcaption>
        </figure>
        <figure class="trailIcon relative grow" v-else-if="knoledgeTrail > 8">
          <img :src="require('@/assets/Conhecimento3.svg')" />
          <figcaption class="flex center"><h2>Mestre</h2></figcaption>
        </figure>
      </div>
    </section>
    <section class="grid-container tree grow">
      <div :class="{'highlight': faithTrail > 0, 'green Raiz': true}"></div>
      <div :class="{'highlight': faithTrail > 0, 'green Leigo': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Fe1.svg')" />
          <figcaption class="flex center"><h2>Leigo</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': faithTrail > 4, 'green Catolico': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Fe2.svg')" />
          <figcaption class="flex center"><h2>Católico</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': faithTrail > 8, 'green Devoto': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Fe3.svg')" />
          <figcaption class="flex center"><h2>Devoto</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': knoledgeTrail > 0, 'purple Estudante': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Conhecimento1.svg')" />
          <figcaption class="flex center"><h2>Marinheiro de primeira viagem</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': knoledgeTrail > 4, 'purple Pesquisador': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Conhecimento2.svg')" />
          <figcaption class="flex center"><h2>Mochileiro</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': knoledgeTrail > 8, 'purple Conhec': true}"></div>
      <div :class="{'highlight': knoledgeTrail > 8, 'purple Mestre': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Conhecimento3.svg')" />
          <figcaption class="flex center"><h2>Guia de turismo</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': turistTrail > 0, 'blue Marinheiro': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Turista1.svg')" />
          <figcaption class="flex center"><h2>Estudante</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': turistTrail > 4, 'blue Mochileiro': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Turista2.svg')" />
          <figcaption class="flex center"><h2>Pesquisador</h2></figcaption>
        </figure>
      </div>
      <div :class="{'highlight': turistTrail > 8, 'blue Turismo': true}"></div>
      <div :class="{'highlight': turistTrail > 8, 'blue Guia': true}">
        <figure class="treeIcon flex col grow">
          <img :src="require('@/assets/Turista3.svg')" />
          <figcaption class="flex center"><h2>Mestre</h2></figcaption>
        </figure>
      </div>
      <h2 class="titFe">Fé</h2>
      <h2 class="titCon">Conhecimento</h2>
      <h2 class="titTur">Turismo</h2>
    </section>
  </main>
</template>

<script>
export default {
  computed: {
    faithTrail () { return this.$store.getters.trails.Fe.length },
    turistTrail () { return this.$store.getters.trails.Turismo.length },
    knoledgeTrail () { return this.$store.getters.trails.Conhecimento.length }
  }
}
</script>

<style scoped>
.page {
  background-color: #FFB620;
  padding: 10vh 5vw 0 10vw;
  width: 100%; height: 100%;
}

.trail {justify-content: space-around; width: 100%}
.trailIcon img{
  width: 10vw;
  padding: 1vw;
}

p{text-align: center;}
.grid-container {
  margin: 10vh 0 0 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "   Fe     Fe    Sabed    Sabed       Sabed      Tur        Tur"
    "Devoto Devoto      .   Mestre           .          .     Guia"
    "Devoto Devoto      .   Conhec      Conhec          .     Guia"
    "   .   Catolico    .   Conhec      Conhec          .     Turismo"
    "   .   Catolico    .   Pesquisador   .             .     Turismo"
    "   .   Catolico    .   Pesquisador   .             .     Mochileiro"
    "   .   Leigo    Leigo  Pesquisador   .             .     Mochileiro"
    "   .   Leigo    Leigo  Estudante   Marinheiro Marinheiro Mochileiro"
    "   .     .      Raiz  Estudante . . ."
    "   .     .      Raiz      . . . .";
}
.grid-container div {position: relative;}
.green {border-color: rgba(0, 122, 57, .3); border-style: solid; border-width: 0;}
.purple {border-color: rgba(70, 0, 131, .3); border-style: solid; border-width: 0;}
.blue {border-color: rgba(53, 133, 218, .3); border-style: solid; border-width: 0;}
  .Leigo { grid-area: Leigo; border-left-width: 1vh; border-bottom-width: 1vh;}
  .Catolico { grid-area: Catolico; border-right-width: 1vh; border-bottom-width: 1vh;}
  .Devoto { grid-area: Devoto; border-left-width: 1vh; border-bottom-width: 1vh;}
  .Raiz { grid-area: Raiz; border-right-width: 1vh;}
  .Estudante { grid-area: Estudante; border-bottom-width: 1vh; border-right-width: 1vh;}
  .Pesquisador { grid-area: Pesquisador; border-left-width: 1vh; border-bottom-width: 1vh;}
  .Conhec { grid-area: Conhec; border-width: 1vh; border-left-width: 0;}
  .Mestre { grid-area: Mestre; border-left-width: 1vh; }
  .Marinheiro { grid-area: Marinheiro; border-bottom-width: 1vh;}
  .Mochileiro { grid-area: Mochileiro; border-left-width: 1vh;}
  .Turismo { grid-area: Turismo; border-right-width: 1vh; border-top-width: 1vh; border-bottom-width: 1vh;}
  .Guia { grid-area: Guia; border-left-width: 1vh; }
  .titFe { grid-area: Fe; }
  .titCon { grid-area: Sabed; }
  .titTur { grid-area: Tur; text-align: right;}

.tree figure {
  width: 10vw; height: 10vw;
  max-width: 10vh; max-height: 10vh;
  position: absolute;
  z-index: 10;
  opacity: .3;
}
.tree figcaption {opacity: 0;}
.Pesquisador figure, .Mestre figure, .Leigo figure, .Devoto figure, .Mochileiro figure, .Guia figure {top: 0; left: 0; transform: translate3d(calc(-50% - .5vh), calc(-50% - .5vh), 0);}
.Estudante figure, .Catolico figure {top: 0; right: 0; transform: translate3d(calc(50% + .5vh), calc(-50% - .5vh), 0);}
.Marinheiro figure {bottom: 0; right: 0; transform: translate3d(calc(50% + .5vh), calc(50% + .5vh), 0);}

.highlight.green {border-color: rgba(0, 122, 57, 1);}
.highlight.purple {border-color: rgba(70, 0, 131, 1);}
.highlight.blue {border-color: rgba(53, 133, 218, 1);}
.tree .highlight figure {opacity: 1;}

.tree figure:hover {opacity: 1;}
.tree figure:hover figcaption {opacity: 1;}

@media (orientation: portrait) {
  main {flex-direction: column;}
}
</style>
