<template>
  <transition name="slide-up">
    <footer v-show="submenu" class="sub">
      <About v-if="category === 'about'" />
      <Credits v-if="category === 'credits'" />
      <NavigationMap v-else-if="category === 'map'" />
      <Profile v-else-if="category === 'profile'" />
      <Collected v-else :category="category" />
      <closeButton @close="closeMenu" />
    </footer>
  </transition>
</template>

<script>
import Collected from '@/components/Collected.vue'
import NavigationMap from '@/components/NavigationMap.vue'
import About from '@/components/About.vue'
import Credits from '@/components/Credits.vue'
import Profile from '@/components/Profile.vue'
import closeButton from '@/components/closeButton.vue'

export default {
  name: 'submenu',
  data () {
    return {
      submenu: false
    }
  },
  props: ['category'],
  components: {
    Collected,
    NavigationMap,
    About,
    Credits,
    Profile,
    closeButton
  },
  methods: {
    openMenu () {
      this.submenu = true
    },
    closeMenu () {
      this.submenu = false
    }
  },
  watch: {
    $route: function () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
    .sub {
        position: absolute;
        top: 0; left: 0;
        width: 100vw; height: 100vh;
        z-index: 110;
    }
</style>
