<template>
  <transition name="slide-trail">
    <div v-show="openTrail" class="trail flex col">
      <transition name="slide-trail" mode="out-in">
        <figure key ="f1" class="trailIcon relative" v-if="faithTrail > 0 && faithTrail <= 4 && fe">
          <img :src="require('@/assets/Fe1.svg')" />
          <figcaption class="flex center"><h2>Leigo</h2></figcaption>
        </figure>
        <figure key ="f2" class="trailIcon relative" v-else-if="faithTrail > 4 && faithTrail <= 8 && fe">
          <img :src="require('@/assets/Fe2.svg')" />
          <figcaption class="flex center"><h2>Católico</h2></figcaption>
        </figure>
        <figure key ="f3" class="trailIcon relative" v-else-if="faithTrail > 8 && fe">
          <img :src="require('@/assets/Fe3.svg')" />
          <figcaption class="flex center"><h2>Devoto</h2></figcaption>
        </figure>
      </transition>
        <transition name="slide-trail" mode="out-in">
        <figure key ="t1" class="trailIcon relative" v-if="turistTrail > 0 && turistTrail <= 4 && turismo">
          <img :src="require('@/assets/Turista1.svg')" />
          <figcaption class="flex center"><h2>Estudante</h2></figcaption>
        </figure>
        <figure key ="t2" class="trailIcon relative" v-else-if="turistTrail > 4 && turistTrail <= 8 && turismo">
          <img :src="require('@/assets/Turista2.svg')" />
          <figcaption class="flex center"><h2>Pesquisador</h2></figcaption>
        </figure>
        <figure key ="t3" class="trailIcon relative" v-else-if="turistTrail > 8 && turismo">
          <img :src="require('@/assets/Turista3.svg')" />
          <figcaption class="flex center"><h2>Mestre</h2></figcaption>
        </figure>
      </transition>
      <transition name="slide-trail" mode="out-in">
        <figure key ="c1" class="trailIcon relative" v-if="knoledgeTrail > 0 && knoledgeTrail <= 4 && conhecimento">
          <img :src="require('@/assets/Conhecimento1.svg')" />
          <figcaption class="flex center"><h2>Marinheiro de primeira viagem</h2></figcaption>
        </figure>
        <figure key ="c2" class="trailIcon relative" v-else-if="knoledgeTrail > 4 && knoledgeTrail <= 8 && conhecimento">
          <img :src="require('@/assets/Conhecimento2.svg')" />
          <figcaption class="flex center"><h2>Mochileiro</h2></figcaption>
        </figure>
        <figure key ="c3" class="trailIcon relative" v-else-if="knoledgeTrail > 8 && conhecimento">
          <img :src="require('@/assets/Conhecimento3.svg')" />
          <figcaption class="flex center"><h2>Guia de turismo</h2></figcaption>
        </figure>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Trail',
  data () {
    return {
      fe: false,
      turismo: false,
      conhecimento: false
    }
  },
  props: ['open'],
  computed: {
    faithTrail () { return this.$store.getters.trails.Fe.length },
    turistTrail () { return this.$store.getters.trails.Turismo.length },
    knoledgeTrail () { return this.$store.getters.trails.Conhecimento.length },
    openTrail () { return this.fe || this.turismo || this.conhecimento }
  },
  watch: {
    open: function (value) {
      this.fe = value
      this.turismo = value
      this.conhecimento = value
    },
    '$store.getters.trails.Fe': function (list) {
      if (list.length === 1 || list.length === 5 || list.length === 9) {
        this.fe = true
        setTimeout(() => {
          this.fe = false
        }, 3000)
      }
    },
    '$store.getters.trails.Turismo': function (list) {
      if (list.length === 1 || list.length === 5 || list.length === 9) {
        this.turismo = true
        setTimeout(() => {
          this.turismo = false
        }, 3000)
      }
    },
    '$store.getters.trails.Conhecimento': function (list) {
      if (list.length === 1 || list.length === 5 || list.length === 9) {
        this.conhecimento = true
        setTimeout(() => {
          this.conhecimento = false
        }, 3000)
      }
    }
  }
}
</script>

<style scoped>
.trail {
  position: fixed;
  left: 0;
  bottom: 3vh;
  width: 20vh;
  min-width: 40px;
  margin: 1vw;
  z-index: 999;
}
.trailIcon {
  margin: .5vh
}
.trailIcon figcaption {
  position: absolute;
  left: 100%;
  top: 0;
  height: 4vh;
  min-height: 40px;
  white-space: nowrap;
  margin-left: 4vh;
  opacity: 0;
  transition: all ease 1s;
}
.trailIcon:hover figcaption {
  opacity: 1;
}
</style>
