<template>
  <main class="video">
    <transition name="fade">
      <div class="loading flex col center" v-show="loading">
        <div class="loader"></div>
        <img class="logo" alt="Logo Caminhos do Divino" :src="require('@/assets/logo.svg')" />
      </div>
    </transition>
    <Player
      ref="player"
      :location="src"
      @canplay="canPlay"
      @waiting="loading = true"
      @updated="loading = true"
      @ended="videoEnd"
      @playing="isPlaying"
      @paused="playing = false"
      @timeUpdate="time"
      />
    <Pause
      ref="pause"
      :show="!playing && !loading"
      @play="$refs.player.playVid()"
      @restart="$refs.player.restartVid()"
      @jump="skipVideo"
      />
    <Title
      ref="title"
      :show="titleShow"
      :location="src"
      />
    <Credit
      ref="credit"
      :currentTime="currentTime"
      :location="src"
      />
    <displayText
      ref="display"
      :location="src"
      :currentTime="currentTime" />
  </main>
</template>

<script>
// @ is an alias to /src
import Player from '@/components/Player/Player.vue'
import Pause from '@/components/Player/Pause.vue'
import Title from '@/components/Player/Title.vue'
import Credit from '@/components/Player/Credit.vue'
import displayText from '@/components/Player/displayText.vue'

import { mapActions } from 'vuex'

export default {
  name: 'filmPath',
  data () {
    return {
      playing: false,
      currentTime: 0,
      loading: true
    }
  },
  props: ['location'],
  components: {
    Player,
    Pause,
    Title,
    Credit,
    displayText
  },
  computed: {
    titleShow () { return this.currentTime > 1 && this.currentTime < 4 ? true : !this.playing },
    src () {
      return this.location
        ? this.location
        : this.$route.params.reference
          ? this.$route.params.reference : ''
    }
  },
  methods: {
    ...mapActions(['trailed']),
    time (e) { this.currentTime = e },
    skipVideo () {
      this.videoStop()
      this.$emit('end')
    },
    canPlay () {
      this.loading = false
      if (this.$route.params.type === 'Videos') {
        if (parseInt(this.$route.params.reference) !== 51) {
          this.videoPlay()
        }
      }
    },
    isPlaying () {
      this.playing = true
      this.loading = false
    },
    videoEnd (e) {
      this.videoStop()
      this.$emit('end')
      if (this.$store.getters.coletaveis.videos.items[e].trail) {
        this.trailed({ trail: this.$store.getters.coletaveis.videos.items[e].trail, item: e })
      }
    },
    togglePlay () { this.$refs.player.togglePlay() },
    videoStop () { this.$refs.player.pauseVid() },
    videoRestart () { this.$refs.player.restartVid() },
    videoPlay () { this.$refs.player.playVid() },
    videoReload () {
      this.loading = true
      this.$refs.player.loadVid()
    }
  }
}
</script>

<style scoped>
  .video {
    background-color: rgba(0,0,0,.8);
  }
  .logo {
    width: 20vh;
    max-width: 20vw;
  }

  .loader, .loading {
      width: 30vh;
      height: 30vh;
      max-width: 30vw;
      max-height: 30vw;
  }
  .loading {
    z-index: 99;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
    .loader {
      position: absolute;
      top: 0; left: 0;
      border-radius: 50%;
      font-size: 10px;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(255, 255, 255, 0.2);
      border-right: 1.1em solid rgba(255, 255, 255, 0.2);
      border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
      border-left: 1.1em solid #ffffff;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
    }
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>
