<template>
  <main class="transition flex col">
    <main class="tutorial" v-if="this.$store.getters.tutorial.transition" @click="changeTut">
      <figure class="tut first imgLink" v-if="tutorial === 0">
        <img class="flex center svg blink" alt="Ícone representando um clique" :src="require('@/assets/icone-click.svg')">
        <figcaption>Acesse aqui os postais e conteúdos que você vai ganhando ao longo da navegação</figcaption>
      </figure>
      <figure class="tut seccond imgLink" v-else-if="tutorial === 1">
        <img class="flex center svg blink rotate" alt="Ícone representando um clique" :src="require('@/assets/icone-apontar.svg')">
        <figcaption>Clique em um conteúdo para acessá-lo.</figcaption>
      </figure>
      <figure class="tut third imgLink" v-else>
        <img class="flex center svg blink rotate" alt="Ícone representando um clique" :src="require('@/assets/icone-apontar.svg')">
        <figcaption>Clique no logo para voltar ao mapa.</figcaption>
      </figure>
    </main>
    <aside class="flex col center">
      <h2 class="red"><small>Você está em</small></h2>
      <figure class="thisPath">
        <img :alt="'Ícone em formato vitral representando o caminho: ' + script.name" :src="require('@/assets/icon' + script.url +'.png')" />
        <figcaption><h2>{{script.name}}</h2></figcaption>
      </figure>
    </aside>
    <section class="top flex center">
      <router-link class="imgLink" :to="{name: 'Home'}">
        <figure class="imgLink">
          <img alt="Logo Caminhos do Divino" :src="require('@/assets/logo.svg')" />
        </figure>
      </router-link>
    </section>
    <section class="middle flex center">
      <div class="path flex center">
        <div class="wrapper flex col center relative" v-for="(path, index) in script.videos" :key="index">
          <h2 v-show="parseInt(index) === parseInt($route.params.step) + 1" class="display red">Continuar a jornada</h2>
          <h2 v-show="parseInt(index) === parseInt($route.params.step)" class="display red">Você assistiu</h2>
          <router-link
            class="imgLink flex col center"
            :to="{name: 'Path', params: {path: $route.params.path, step: index}}"
            @click.native="reload(index)">
            <figure :class="parseInt(index) === parseInt($route.params.step) + 1 ? 'flex center relative proximo' : 'flex center relative outro'">
              <img
                :alt="'Ícone ' + $store.state.collectables.videos.items[path.src].name"
                :src="require('@/assets/transition/' + path.src + '.jpg')"
                />
              <img
                v-if="parseInt(index) === parseInt($route.params.step)"
                alt="Ícone indicando repetição"
                :src="require('@/assets/icone-repetir.svg')"
                class="repetir"
                />
              <figcaption :class="parseInt(index) === parseInt($route.params.step) + 1 ? '' : 'red'">{{$store.state.collectables.videos.items[path.src].name}}</figcaption>
            </figure>
          </router-link>
        </div>
      </div>
      <div class="path flex center rosa" :style="{'width': 100 / script.videos.length + '%'}" v-if="parseInt($route.params.step) === script.videos.length - 1">
        <div class="wrapper flex col center relative">
          <router-link class="imgLink flex col center" :to="{name: 'Home'}">
            <figure class="outro relative">
              <img alt="ícone representando uma rosa dos ventos" :src="require('@/assets/rosa_dos_ventos.svg')" />
              <figcaption>Retornar ao Mapa</figcaption>
            </figure>
          </router-link>
        </div>
      </div>
    </section>
    <section class="flex center col more relative">
      <h2 class="red display">Saiba Mais</h2>
      <div class="wrapper flex center">
        <router-link
          v-if="script.videos[$route.params.step].page"
          class="flex col grow center"
          :to="{
            name: 'Page',
            params: {
              path: $route.params.path,
              step: $route.params.step,
              page: script.videos[$route.params.step].page
            }
          }">
          <figure class="flex col center relative moreImage">
            <img
                class="collectedFlag"
                :src="require('@/assets/IconePaginas.svg')" />
            <figcaption >
              <small>{{ $store.state.pages[script.videos[$route.params.step].page].name }}</small>
            </figcaption>
          </figure>
        </router-link>
        <template v-for="collectable in more">
          <router-link
            v-for="colItem in script.videos[$route.params.step].collectables[collectable]"
            :key="colItem"
            class="flex col grow center"
            :to="{
              name: $route.name,
              params: {
                path: $route.params.path,
                step: $route.params.step,
                type: $store.state.collectables[collectable].url,
                reference: colItem
              }
            }"
            @click.native="open($store.state.collectables[collectable].url, colItem)">
              <figure class="flex col center relative moreImage">
                <img
                  class="collectedFlag"
                  :src="require('@/assets/Icone' + $store.state.collectables[collectable].url + '.svg')" />
                <figcaption >
                  <small>{{ $store.state.collectables[collectable].items[colItem].name }}</small>
                </figcaption>
              </figure>
          </router-link>
        </template>
      </div>
    </section>
  </main>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'vidTransition',
  data () {
    return {
      showCollected: ['postcards', 'musics'],
      tutorial: 0
    }
  },
  computed: {
    script () { return this.$store.state.script[this.$route.params.path] },
    thisVideo () { return this.script.videos[this.$route.params.step].src },
    hasNext () { return parseInt(this.$route.params.step) + 1 < this.script.videos.length },
    collectables () {
      return Object.keys(this.script.videos[this.$route.params.step].collectables)
        .filter(key => this.showCollected.includes(key))
    },
    more () {
      return Object.keys(this.script.videos[this.$route.params.step].collectables)
        .filter(key => !this.showCollected.includes(key))
    }
  },
  methods: {
    ...mapActions(['disabled', 'seen']),
    changeTut () {
      if (this.tutorial < 2) {
        this.tutorial += 1
      } else {
        if (this.$store.getters.tutorial.transition === true) {
          this.disabled('transition')
        }
      }
    },
    open (category, key) {
      this.seen({ path: category, step: key })
    },
    reload (index) {
      if (parseInt(index) === parseInt(this.$route.params.step)) {
        this.$emit('review')
      }
    }
  }
}
</script>

<style scoped>
.transition {
  position: absolute;
  top: 0; left: 0;
  background-color: #FFB620;
  z-index: 99;
  padding: 5vh 15vh;
  border: 1px solid pink;
}

small {text-align: center;}
figcaption {position: absolute; white-space: nowrap; top: 100%; left: 50%; transform: translateX(-50%);}

.top {height: 15vh; position: relative; margin-bottom: 2.5vh;}
  .top figure {height: 100%; padding: 1%;}
.middle {height: 50vh;}
    .path, .wrapper {width: 100%;}
    .path .display {position: absolute; bottom: 100%; text-align: center;}
    .path figure {opacity: .5; transition: all .3s ease-in-out;}
    .path .imgLink {height: 100%;}
    .path img {border-radius: 50%; width: 15vw; max-width: 25vh;}
    .outro img {padding: 2vh}
    .proximo, .outro, .moreImage {width: 100%; height: auto;}
    .path .proximo figcaption {visibility: visible}
    .path.rosa .wrapper {width: 30vh;}
    .rosa figure {width: 100%;}
    .outro .repetir {position: absolute; padding: 4vh; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); opacity: 0; transition: all .3s ease-in-out;}
    .path figure:hover, .path .proximo, .path figure:hover .repetir {opacity: 1;}

.more {text-align: center; height: 17.5vh;}
    .more .wrapper {height: auto;}
    .moreImage img {width: 12.5vh;}
    .collectedFlag {margin: 0 2vh;}

aside {position: absolute; top: 2vw; right: 5vw; width: 15vh;}
  aside img {width: 8vh}
  aside figure {width: 100%}
  aside small {white-space: nowrap;}
  .thisPath {margin-bottom: 2vh;}
  .thisPath figcaption {visibility: visible; white-space: normal; text-align: center;}

.tutorial {position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,.5); z-index: 5;}
  .first {top: 8vh; margin: 3vw;}
  .seccond {bottom: 10vh; left: 30vh; margin: 3vw;}
  .third {top: 5vh; left: calc(50vw - 25vh); transform: translateX(-50%); margin: 3vw;}
  .tut {position: absolute; width: 10vh; height: 10vh;}
  .tut figcaption {position: absolute; visibility: visible; white-space: normal; transform: none;}
    .first figcaption {top: 0%; left: 100%; width: 30vw;}
    .seccond figcaption {top: 0%; left: -23vh; width: 25vh;}
    .third figcaption {top: 0%; left: -32vh; width: 30vh;}

.rotate {transform: rotate(90deg);}

@media (hover: none) {
    .outro .repetir {opacity: 1;}
    .path figcaption {width: 100%}
    .path figcaption, .more figcaption {visibility: visible; white-space: normal}
    .path {width: 90vw;}
    .path, .wrapper {justify-content: space-around;}
    .third figcaption {top: 100%; left: -10vw; width: 30vh;}
}

@media (orientation: portrait) {
  figcaption {width: 100%;}
  .transition { padding: 5vh 1vh;}
  .middle { flex-direction: column; justify-content: space-evenly;}
  .path {width: 100%;}
  .path figcaption, .more figcaption {white-space: normal;}
  .seccond {bottom: 10vh; left: 8vh}
  .seccond figcaption {top: auto; bottom: 100%; left: 0; width: 30vh; text-align: left;}
  .third {top: 10vh; left: 8vh}
  .third figcaption {left: 0; text-align: left;}
  .outro .repetir {padding: 5vw;}
  .path img {width: 23vw; max-width: 30vh;}
  .moreImage img {width: 8vw;}
}

@media (max-width: 1200px) and (orientation: landscape) {
  .first {top: 8vh; margin: 5vw;}
  .first figcaption {top: 110%; left: 0; width: 30vw; text-align: left;}
  .more {height: 10vh;}
  .path figcaption, .more figcaption {font-size: .8em;}
  .moreImage img {width: 8vh;}
  .seccond {left: 35vw}
  .seccond figcaption {left: -32vw; width: 30vw;}
}
</style>
