<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:900|Spectral&display=swap|');
@font-face {
  font-family: 'Dearest';
  src:url(~@/assets/fonts/Dearest.ttf.woff) format('woff'),
      url(~@/assets/fonts/Dearest.ttf.svg#Dearest) format('svg'),
      url(~@/assets/fonts/Dearest.ttf.eot),
      url(~@/assets/fonts/Dearest.ttf.eot?#iefix) format('embedded-opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, main {
  width: 100vw;
  height: 100vh;
}

a {text-decoration: none; color: #fff}
  a:hover, .red {color: #ce0e2d;}
h1, h2, h3 {font-family: 'Cinzel Decorative', serif;}
h2 {font-size: .8em}

ul, ol {list-style: none;}

figure, img {
  max-height:100%;
  max-width:100%;
  margin: 0;
  object-fit: contain;
  position: relative;
  text-align: center;
}
.imgLink {
  display: block;
  width: 100%;
  height: 100%;
}
.svg {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

header {
  height: 50vh;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-family: 'Spectral', serif;
  font-size: calc(14px + 5 * ((100vw - 320px) / 680));
  background-color: #FFB620;
  overflow: hidden;
  -webkit-user-select: text;
}

.flex {display: flex;}
.col {flex-direction: column;}
.center {align-items: center; justify-content: center;}
.grow {flex: 1 1 0px;}
.relative {position: relative; width: auto; height: 100%;}

/* animations */

.blink {animation: blink-animation 1.5s infinite;}
@keyframes blink-animation {
  0% { opacity: 0; }
  30% { opacity: 0; }
  50% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: 0; }
}

.fade-enter-active { transition: opacity .3s; }
.fade-leave-active { transition: opacity .3s .3s; }
.fade-enter, .fade-leave-to { opacity: 0; }

.cover-slide-leave-active { transition: all .3s ease-in-out; }
.cover-slide-leave-to { margin-top: -100vh; }

.slide-enter-active { transition: all .3s ease-in-out .3s; }
.slide-leave-active { transition: all .3s ease-in-out; }
.slide-enter, .slide-leave-to { margin-top: -100vh; }

.slide-up-enter-active, .slide-up-leave-active { transition: all .3s ease; }
.slide-up-enter, .slide-up-leave-to { transform: translateY(100%); }

.slide-left-enter-active, .slide-left-leave-active { transition: all .5s ease; }
.slide-left-enter, .slide-left-leave-to { transform: translateX(-100%);}

.slide-right-enter-active, .slide-right-leave-active { transition: all .5s ease; }
.slide-right-enter, .slide-right-leave-to { transform: translateX(100%);}

.slide-trail-enter-active, .slide-trail-leave-active { transition: all 1s ease .3s; }
.slide-trail-enter, .slide-trail-leave-to { transform: translateX(-100vw); }

@media (orientation: portrait) {
.slide-enter, .slide-leave-to { margin-left: -100vw; margin-top: auto; }
}
</style>
