<template>
  <perfect-scrollbar tag="main" class="cores flex col" :style="{'background-color': bg}"
    v-touch:swipe.left="nextColor"
    v-touch:swipe.right="lastColor">
    <section class="fitas">
      <button v-for="(cor, key) in colorInfo" :key="key"
          :ref="key+''"
          :style="{
            'background-image': 'url('+ require('@/assets/dom' + key + '.svg') +')',
            'transform': 'rotate(-' + ( 25 + 10 * key ) + 'deg)' }"
          @mouseover="toggleColor(key)"
          @click="toggleColor(key)">
        <!--<h1>{{cor.dom}}</h1>-->
      </button>
    </section>
    <section class="opening flex col grow">
      <h1>Os 7 dons do divino e suas cores</h1>
      <small>clique no cartão para saber o significado de cada cor</small>
    </section>
    <section class="infos flex grow">
      <h2>
        {{dom}}
      <br />
        <small>{{name}}</small>
      </h2>
      <p>{{info}}</p>
    </section>
  </perfect-scrollbar>
</template>

<script>
export default {
  name: 'cores',
  data () {
    return {
      dom: '',
      name: '',
      info: '',
      bg: 'transparent',
      color: 0,
      colorInfo: [
        { name: 'Amarelo', color: '#FFB620', dom: 'Ciência', info: 'Capacidade de compreender a realidade como obra do Criador, iluminados, simultânea e harmoniosamente, pela fé e pela razão.' },
        { name: 'Vermelho', color: '#eb0e30', dom: 'Fortaleza', info: 'Força e coragem (além das naturais) necessárias para enfrentarmos as tentações e as circunstâncias desafiadoras da vida. Oferta-nos com a firmeza de caráter para suportarmos as nossas vulnerabilidades.' },
        { name: 'Roxo', color: '#40068B', dom: 'Temor a Deus', info: 'Capacidade de afastar-se do erro pelo temor em ofender a Deus. É o temor das consequências do afastamento de Deus.' },
        { name: 'Azul Escuro', color: '#0F165F', dom: 'Piedade', info: 'Orienta-nos em todas as relações que temos com Deus e com o próximo e nos leva a ver o outro como irmão e a amá-lo como filho de Deus.' },
        { name: 'Azul Claro', color: '#008FDE', dom: 'Sabedoria', info: 'Capacidade singela de enxergar ou intuir que nos leva a distinguir entre o que é essencial e o que não é; entre o que realmente importa e o que é meramente secundário.' },
        { name: 'Verde', color: '#009c4d', dom: 'Conselho', info: 'Capacidade de auxiliar o próximo com pureza e sinceridade de coração para tomar as decisões oportunas nas horas difíceis da vida.' },
        { name: 'Prata', color: '#999', dom: 'Entendimento', info: 'Capacidade de compreender e assimilar o sentido das coisas de Deus.' }
      ]
    }
  },
  methods: {
    lastColor () {
      const chosen = this.name === '' ? 6
        : this.color !== 0 ? this.color - 1 : 6
      this.toggleColor(chosen)
    },
    nextColor () {
      const chosen = this.name === '' ? 0
        : this.color !== 6 ? this.color + 1 : 0
      this.toggleColor(chosen)
    },
    toggleColor (key) {
      this.bg = this.colorInfo[key].color
      this.dom = this.colorInfo[key].dom
      this.name = this.colorInfo[key].name
      this.info = this.colorInfo[key].info
      this.color = key
      for (let i = 0; i < 7; i++) {
        if (i <= key) {
          this.$refs[i + ''][0].style.transform = 'rotate(' + (45 - 10 * i) + 'deg)'
        } else {
          this.$refs[i + ''][0].style.transform = 'rotate(-' + (25 + 10 * i) + 'deg)'
        }
      }
    }
  }
}
</script>

<style scoped>
  .cores {
    padding: 55vh 5vw 0 5vw;
    transition: all .5s ease;
    overflow: hidden;
  }
  h2{margin-right: 2vw;}
  .opening {justify-content: center;}
  .fitas { position: fixed; top: -3vh; z-index: 2; left: 30vw}
  button {
    position: absolute;
    top: 0; left: 0;
    width: 20vh; height: 64vh;
    border: 0; color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    transform-origin: top right;
    z-index: 22;
    transition: all .5s ease;
  }

  @media (orientation: portrait) {
    .cores { padding: 5vh 5vh 65vh 15vh; }
    .fitas { position: fixed; top: 60vh; left: auto; right: -5vh; z-index: 2; transform: rotate(90deg);}
    .infos {padding-left: 0; flex-direction: column;}
    .infos h2 {align-self: flex-start; text-align: left;}
    button {width: 12.5vh; height: 40vh;}
  }

</style>
