<template>
  <div class="receita" :style="{'background-image': 'url(' + require('@/assets/BgMapaHome.jpg') + ')'}">

    <section class="capa">
      <h1>Receita do afogado do divino</h1>
    </section>
    <section class="corpo">
      <div class="ingredientes">
        <h1>Ingredientes</h1>
        <ol class="ingredients">
          <li v-for="(ingrediente, i) in ingredientes" :key="i" :class="ingrediente.name">
            <img :alt="'Ilustração representando um ' + ingrediente.name"
            :src="require('@/assets/afogado'+ (i + 1) +'.svg')" />
            <span>{{ingrediente.name}}</span>
            <span>{{ingrediente.value}}kg</span>
          </li>
        </ol>
      </div>
      <div class="preparo">
        <h1>Modo de Preparo</h1>
        <img class="clock" alt="Tempo de preparo: 23 horas e 30 minutos" :src="require('@/assets/clock.svg')" />
        <div class="text">
          <p>Assim que receber os bois do frigorífico, cortados em quartos, chame 30 voluntários para ajudar no corte da carne. Divida os voluntários em grupos para agilizar o trabalho: cerca de 12 na parte inicial de desossar e tirar o excesso de gordura, 2 serrando as partes com ossos, 8 picando a carne em cubos de cerca de 4cm, 3 pessoas na lavagem, 4 pessoas com atividades móveis e 1 coordenador geral.</p>
          <p>Concomitante, separe mais 20 pessoas para descascar e tirar os "olhinhos" das batatas.</p>
          <p>Coloque as carnes já lavadas e cortadas em cubos nos tachos para cozimento.</p>
          <p>Tempere com cerca de 75kg de sal para cada tacho de 400kg de carne. Deixe cozinhar em fogo brando por cerca de 4 horas para que a carne fique bem macia. Duas horas antes do horário da festa, ferva 150 litros de água para cozinhar as batatas, que devem ser temperadas com sal a gosto.</p>
          <p>Quarenta minutos depois, refogue alho e cebola picadinhos em um tacho grande o suficiente para cozinhar 25kg de arroz. Repita a operação 20 vezes, até completar o cozimento de 500kg. Guarde o arroz que for ficando pronto e quente em um recipiente térmico para que ele esteja todo pronto e quente na hora do inicío do evento.</p>
          <p>Deixe para cozinhar o macarrão 20 minutos antes do inicío do evento para que ele não fique mole.</p>
        </div>
      </div>

      <div class="curiosidades">
        <div class="esquecer">
          <h1>Não Esquecer!</h1>
          <ul>
            <li>Convidar o padre para abençoar a comida;</li>
            <li>Convidar as congadas para animar a fila;</li>
            <li>Criar uma fila especial para idosos e pessoas com deficiência.</li>
          </ul>
        </div>
        <div class="segredos">
          <h1>Segredinhos</h1>
          <ol>
            <li>Deixar o São Benedito em local de destaque já que é ele quem é o chefe da cozinha.</li>
            <li>Ter muita fé no coração e amor pelo Divino.</li>
          </ol>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
export default {
  name: 'receita',
  data () {
    return {
      ingredientes: [
        { name: 'Macarrão', value: '1.200' },
        { name: 'Carne Bovina', value: '7.500' },
        { name: 'Batata', value: '1.000' },
        { name: 'Arroz', value: '500' },
        { name: 'Alho', value: '90' },
        { name: 'Feijão', value: '80' },
        { name: 'Sal', value: '75' }
      ]
    }
  }
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Shadows+Into+Light&display=swap');

  .receita {
    width: 100vw;
    display: inline-block;
    background-size: cover;
    background-position: center;
    padding-bottom: 20vh;
  }

  h1 {font-size: 3vh; margin-top: 5vh; text-align: center;}
  h2 {margin: 5vw 3vw 0 3vw; padding-top: 1vw; border-top: 1px solid #CE0E2D; font-size: 2vh;}
  ul {list-style: decimal;}
  ol {font-family: 'Spectral', serif; font-size: 2vh;}
  p, figcaption {margin-top: 2vh; font-size: 3vh; color: #CE0E2D;}

  .capa, .corpo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .capa {
    margin: 20vh 0 10vh 0;
  }
  .corpo {
    flex-direction: column;
    padding: 10vh 10vw;
    text-align: left;
  }

  .ingredientes { margin-top: 1vh; width: 100%;}
  .ingredients li {padding-top: 1vh; display: flex; align-items: center; justify-content: space-around; color: #fff; border-top: 1px solid #CE0E2D;}
  .ingredients img {width: 5vh;}

  .clock {width: 100px; margin: 3vh;}

  .curiosidades {display: flex; justify-content: space-between;}
  .curiosidades div {padding: 2vh 1.5vw 5vh 1.5vw; margin: 5vh 0; flex-basis: 48%; border: 2px dotted #fff;}
  .curiosidades h1 {font-size: 3vh; color: #CE0E2D; font-family: 'Shadows Into Light', cursive;}
    .curiosidades .esquecer {padding-left: 2vw;}

  .text p, .curiosidades li {font-family: 'Caveat', cursive; }
  .curiosidades li {font-size: 2.5vh;}

  @media (orientation: portrait) {
    .curiosidades {flex-direction: column;}
    .curiosidades div {padding: 2vh;}
    .curiosidades .esquecer {padding-left: 3vh;}
    .ingredients figure {position: relative; width: 20vw; height: auto; font-size: 1.5vw;}
  }
  @media (min-width:961px) and (orientation: landscape){
    .corpo {display: block; padding: 10vh 20vw;}
    .ingredientes, .preparo, .curiosidades{ margin-top: 2vh; float: left; width: 45%;}
    .preparo { float: right; width: 50%; }
    .curiosidades {clear: both; flex-direction: column; clear: none;}
    .curiosidades div, .curiosidades h1 {margin: 2vh 0;}
  }
</style>
