<template>
  <perfect-scrollbar tag="main" class="slides flex" :style="{'background-image': 'url(' + require('@/assets/BgMapaHome.jpg') + ')'}">

    <transition-group :name="direction" tag="ul" mode="out-in">
      <li v-for="number in [page]" :key="number"
        v-touch:swipe.left="next"
        v-touch:swipe.right="prev"
        >

        <div class="arrow prev" v-show="page > 0" @click="prev">
          <img :src="require('@/assets/BotaoLeft.svg')" alt="Seta para o slide anterior" />
        </div>
        <div class="arrow next" v-show="page < ($store.state.collectables.documents.items[$route.params.reference].slides.length - 1)" @click="next">
          <img class="inverted" :src="require('@/assets/BotaoLeft.svg')" alt="Seta para o próximo slide" />
        </div>
        <article class="flex center">
          <img
            v-if="$store.state.collectables.documents.items[$route.params.reference].slides[number].img"
            class="bgImage"
            :alt="'Ilustração de montagem da bandeira passo ' + $store.state.collectables.documents.items[$route.params.reference].slides[number].img"
            :src="require('@/assets/slides/' + $route.params.reference + '/' + $store.state.collectables.documents.items[$route.params.reference].slides[number].img + '.png' )" />
          <div
            v-if="$store.state.collectables.documents.items[$route.params.reference].slides[number].cover === true"
            class="wrapper flex center">
            <h1 @click="next">{{$store.state.collectables.documents.items[$route.params.reference].name}}</h1>
          </div>
          <perfect-scrollbar
            tag="main"
            v-else-if="$route.params.reference === '41'"
            class="container flex">
            <div class="wrapper flex col">
              <h1 @click="next" class="red">
                {{$store.state.collectables.documents.items[$route.params.reference].slides[number].title}}
              </h1>
              <section
                class="text flex col"
                v-html="$store.state.collectables.documents.items[$route.params.reference].slides[number].content">
              </section>
            </div>
          </perfect-scrollbar>
          <div
            class="wrapper page"
            v-else>
            <div class="header flex col center">
              <h2>Passo</h2>
              <h1>
                {{getNumber($store.state.collectables.documents.items[$route.params.reference].slides[number].img)}}
              </h1>
            </div>
            <div class="title flex center"><h3>{{$store.state.collectables.documents.items[$route.params.reference].slides[number].title}}</h3></div>
            <div class="text flex col center" v-html="$store.state.collectables.documents.items[$route.params.reference].slides[number].content"></div>
            <span class="float" v-show="$store.state.collectables.documents.items[$route.params.reference].slides[number].img.length == 2">{{getLetter($store.state.collectables.documents.items[$route.params.reference].slides[number].img)}}</span>
          </div>
        </article>
      </li>
    </transition-group>

  </perfect-scrollbar>
</template>

<script>
export default {
  name: 'slides',
  data () {
    return {
      page: 0,
      direction: 'right'
    }
  },
  methods: {
    getNumber (value) { return value.charAt(0) },
    getLetter (value) { return value.charAt(1) },
    next () {
      this.direction = 'right'
      this.page += this.page < (this.$store.state.collectables.documents.items[this.$route.params.reference].slides.length - 1) ? 1 : 0
    },
    prev () {
      this.direction = 'left'
      this.page -= this.page > 0 ? 1 : 0
    }
  }
}
</script>

<style scoped>
  .slides {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  article {width: 100vw; height: 100vh;}
  ul {list-style: none;}
  li {margin: 0}

  .bgImage {
    height: 70vh; max-height: 70vw;
    width: 70vh; max-width: 70vw;
  }

  .container {position: relative;}
    .container .wrapper {align-items: center;}
  .wrapper {padding: 10vh 10vw; position: absolute;}
  .page {
    display: grid;
    grid-template: ". . . box" 1fr / 1fr 1fr 2fr 3fr;
    text-align: left;
  }
    .wrapper .header h1 {color: #D1182B; font-size: 5em;}
    .wrapper .header h3 {font-size: 2em;}
    .wrapper .text {grid-area: box;}
    .wrapper .text >>> p {margin-top: 1vh;}
    .wrapper .text >>> img {max-height: 40vh; margin: 2vh auto}
    .wrapper .float {
      position: absolute;
      bottom: calc(16vh - 5vw);
      left: calc(45vw - 26vh);
      color: #D1182B;
    }

  .arrow {
    position: absolute;
    top: 50%;
    width: 12vh;
    height: 12vh;
    transform: translate3d(50%,-50%,0);
    transition: all .3s ease;
    z-index: 88;
    cursor: pointer;
    animation: blink 1.5s infinite;
  }
  .arrow:hover {opacity: 1}
  .next {right: 0; transform: translate3d(-50%,-50%,0)rotate(180deg);}

  @keyframes blink {
  0% { opacity: .5; }
  30% { opacity: .5; }
  50% { opacity: 1;}
  80% { opacity: 1;}
  100% { opacity: .5; }
}

  @media (orientation: portrait) {
    .page { grid-template: "." 2fr "." 1fr "." 2fr "box" 5fr / 1fr; }
    .page .text {justify-content: flex-start; padding: 0 15%;}
    .page .float {
      bottom: calc(40vh - 29vw);
      left: 14vw;
    }
    .arrow {max-width: 7.5vw; max-height: 7.5vw;}
  }

  .right-enter-active, .left-enter-active { transition: all .5s ease .5s }
  .right-leave-active, .left-leave-active { transition: all .5s ease }
  .right-enter, .left-leave-to {transform: translateX(100%);}
  .right-leave-to, .left-enter {transform: translateX(-100%);}

</style>
