<template>
  <perfect-scrollbar class="texts">
    <section class="capa" :style="{'background-image': 'url(' + require('@/assets/textBG.svg') + ')'}">
      <h1>{{$store.state.collectables.documents.items[$route.params.reference].name}}</h1>
      <h2 v-if="$store.state.collectables.documents.items[$route.params.reference].sub">
        {{$store.state.collectables.documents.items[$route.params.reference].sub}}
      </h2>
    </section>
    <section class="corpo" v-html="$store.state.collectables.documents.items[$route.params.reference].doc">
    </section>
    <section class="footer" :style="{'background-image': 'url(' + require('@/assets/textBG.svg') + ')'}">
    </section>
  </perfect-scrollbar>
</template>

<style scoped>
  li {clear: both;}

  .texts {
    width: 100vw;
    background-color: #f2e7b0;
    color: #000;
  }

  .capa {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35%;
    width: 100vw;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    color: #CE0E2D;
  }
  .footer {
    width: 100vw;
    height: 60vh;
    background-position: center bottom;
    background-size: cover;
  }

  h1 {margin-top: 5vh; text-align: center;}
  h2 {margin: 5vw 3vw 0 3vw; text-align: center; padding-top: 1vw; border-top: 1px solid #CE0E2D;}

  .corpo {padding: 10vh 10vw; width: 100vw; text-align: left;}
  .corpo >>> img {margin: 6vh 0 0 5vw; width: 75vw;}
  .texts >>> h1 {margin-top: 5vh; text-align: center; color: #CE0E2D;}
  .texts >>> p {margin-top: 2vh; margin-left: 5vw;}
  .texts >>> table {width: 100%; counter-reset: rowNumber;}
  .texts >>> tr {
    display: flex;
    justify-content: space-between;
    counter-increment: rowNumber;
    position: relative;
    border-bottom: 1px solid #CE0E2D;
  }
  .texts >>> tr:last-child {border: 0;}
  .texts >>> td {padding: 1vh 30px; }
  .texts >>> td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    position: absolute;
    left: 0;
    color: #CE0E2D;
  }
  .texts >>> .date {color: #CE0E2D; padding-right: 0;}
  .texts >>> ul {list-style-type:decimal; font-family: 'Spectral', serif;}
  .texts >>> li {padding-left: 1vw; color: #000;}
  .texts >>> li::marker {color: #CE0E2D;}

  .texts >>> .reis {display: flex; justify-content: space-evenly;}
  .texts >>> .reis figure {display: flex; flex-direction: column; align-items: center;}
  .texts >>> .reis figure img {height: 35vh; width: 25vh;}
  .texts >>> .reis figure figcaption {color: #CE0E2D; }

  @media (orientation: portrait) {
    .capa {padding: 5% 35% 20% 35%;}
    .texts p {margin-left: 12vw;}
  }

</style>
