<template>
  <div class="base">
    <transition name="cover-slide">
      <Index v-show="parseInt($route.params.reference) === 51 && $store.getters.tutorial.index" @close="closeIndex" />
    </transition>
    <Menu @open="openMenu" @subMenu="subMenu" />
    <SubMenu :category="category" ref="submenu" />
    <Trail />
    <transition name="slide">
      <aside v-show="extra">
        <router-view ref="extra" name="extra"/>
        <closeButton @close="closeExtra" />
      </aside>
    </transition>
    <main>
      <router-view ref="main" name="mainPath"/>
    </main>
  </div>
</template>

<script>
import Menu from '@/components/Menu.vue'
import Index from '@/components/Index.vue'
import SubMenu from '@/components/SubMenu.vue'
import closeButton from '@/components/closeButton.vue'
import Trail from '@/components/Trail.vue'

import { mapActions } from 'vuex'

export default {
  name: 'Base',
  data () {
    return {
      category: '',
      extra: false,
      index: false
    }
  },
  components: {
    Menu,
    Index,
    Trail,
    SubMenu,
    closeButton
  },
  methods: {
    ...mapActions(['disabled', 'enabled']),
    openMenu (e) {
      this.closeExtra()
      if (this.$route.params.type === 'Videos') this.$refs.extra.$refs.vidComponent.videoStop()
      if (this.$route.params.path && this.$route.params.path !== 'praca') {
        this.$refs.main.$refs.vidComponent.videoStop()
      }
    },
    subMenu (e) {
      this.category = e
      this.$refs.submenu.openMenu()
    },
    closeExtra () {
      this.$router.push({ name: this.$route.name })
    },
    closeIndex () {
      this.disabled('index')
      if (this.$refs.extra.$refs.vidComponent) {
        this.$refs.extra.$refs.vidComponent.videoPlay()
      }
    }
  },
  watch: {
    '$route.params.type': function (param) {
      this.extra = param !== undefined
    }
  },
  mounted () {
    this.enabled('index')
    this.extra = this.$route.params.type !== undefined
    if (Object.keys(this.$store.getters.viewed).length === 0 && this.$store.getters.viewed.constructor === Object) {
      this.index = true
    }
  }
}
</script>

<style scoped>
  .base {
    width: 100vw;
    height: 100vh;
  }
  aside {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.9);
    overflow: hidden;
    z-index: 900;
  }
</style>
