<template>
  <main class="extras flex col center">
    <Postcard v-if="$route.params.type === 'Postais'" />
    <Gallery v-else-if="$route.params.type === 'Galerias'" />
    <Music v-else-if="$route.params.type === 'Musicas'" />
    <Panorama v-else-if="$route.params.type === '360'" />
    <Document v-else-if="$route.params.type === 'Extras'" />
    <Video v-else-if="$route.params.type === 'Videos'" @end="close" ref="vidComponent"/>
    <div v-else>{{$route.params.type}}</div>
  </main>
</template>

<script>
import Postcard from '@/components/Postcard.vue'
import Gallery from '@/components/Gallery.vue'
import Music from '@/components/Music.vue'
import Panorama from '@/components/Panorama.vue'
import Document from '@/components/Document.vue'
import Video from '@/components/Video.vue'

import { mapActions } from 'vuex'

export default {
  name: 'Extras',
  components: {
    Postcard,
    Gallery,
    Music,
    Panorama,
    Document,
    Video
  },
  methods: {
    ...mapActions(['disabled']),
    close () {
      this.$router.push({ name: this.$route.name })
    }
  }
}
</script>
