<template>
  <div class="home" @click="closeTut">
    <figure class="tutorial" v-if="this.$store.getters.tutorial.map">
      <img class="flex center svg blink" alt="Ícone representando um clique" :src="require('@/assets/icone-scroll.svg')">
    </figure>
    <panZoom
      class="wrapper"
      ref="panzoom"
      @transform="limit"
      :options="{
        minZoom: 1,
        maxZoom: limitZoom,
        bounds: {
          left: 0,
          top: 0,
          right: 0,
          bottom: 0,
        }
      }"
    >
    <div class="map" ref="map"
       :style="{'background-image': 'url(' + require('@/assets/MapaHomeNew.jpg') + ')'}" >
      <router-link
        v-for="(path, pathName) in $store.state.script"
        :to="{ name: 'Path', params: {path: pathName, step: 0, intro: true} }"
        :key="pathName"
        :class="['icon', path.url]"
        @touchstart.native="onTap"
        >
        <figure class="flex col center">
          <img :alt="'Ícone em formato vitral representando o caminho: ' + path.name" :src="require('@/assets/icon' + path.url +'.png')" />
          <figcaption>{{path.name}}</figcaption>
        </figure>
      </router-link>
      <img alt="Logo Caminhos do Divino" class="mainLogo" :src="require('@/assets/logo.png')">
    </div>
  </panZoom>
  <img class="rosa" alt="ícone representando uma rosa dos ventos" :src="require('@/assets/rosa_dos_ventos.svg')" />
  </div>
</template>

<script>
import { isMobile } from 'mobile-device-detect'
import { mapActions } from 'vuex'

export default {
  name: 'Home',
  data () {
    return {
      isMobile: isMobile,
      extra: false
    }
  },
  computed: {
    limitZoom () { return this.isMobile ? 3 : 1 }
  },
  methods: {
    ...mapActions(['disabled']),
    onTap (e) {
      e.stopImmediatePropagation()
    },
    closeTut () {
      if (this.$store.getters.tutorial.map === true) {
        this.disabled('map')
      }
    },
    centerHome () {
      if (this.isMobile) {
        this.$refs.panzoom.$panZoomInstance.zoomAbs(
          0.5, // initial x position
          0.5, // initial y position
          0 // initial zoom
        )
        this.startZoom()
      } else {
        if (window.innerHeight > window.innerWidth) {
          this.$refs.panzoom.$panZoomInstance.moveTo(
            -this.$refs.map.clientWidth / 2 + window.innerWidth / 2, // initial x position
            0 // initial y position
          )
        } else {
          this.$refs.panzoom.$panZoomInstance.moveTo(
            0, // initial x position
            -this.$refs.map.clientHeight / 2 + window.innerHeight / 2.2 // initial y position
          )
        }
      }
    },
    startZoom () {
      setTimeout(() => {
        if (window.innerHeight > window.innerWidth) {
          this.$refs.panzoom.$panZoomInstance.smoothZoom(
            this.$refs.map.clientWidth / 4, // initial x position
            this.$refs.map.clientHeight / 2, // initial y position
            2 // initial zoom
          )
        } else {
          this.$refs.panzoom.$panZoomInstance.smoothZoom(
            this.$refs.map.clientWidth / 4, // initial x position
            this.$refs.map.clientHeight / 2, // initial y position
            2 // initial zoom
          )
        }
      }, 200)
    },
    limit () {
      const transformObject = this.$refs.panzoom.$panZoomInstance.getTransform()
      const panzoomEl = this.$refs.panzoom.$el
      const qX = panzoomEl.offsetWidth - this.$refs.map.clientWidth * transformObject.scale
      const qY = panzoomEl.offsetHeight - this.$refs.map.clientHeight * transformObject.scale

      if (transformObject.x < qX) {
        this.$refs.panzoom.$panZoomInstance.moveTo(qX, transformObject.y)
      }
      if (transformObject.y < qY) {
        this.$refs.panzoom.$panZoomInstance.moveTo(transformObject.x, qY)
      }
    }
  },
  watch: {
    '$route.params.type': function () {
      this.centerHome()
    }
  },
  mounted () {
    this.centerHome()
    this.$nextTick(() => {
      window.addEventListener('resize', this.centerHome)
    })
    if (!this.isMobile) {
      this.$refs.panzoom.$el.onwheel = (e) => {
        this.$refs.panzoom.$panZoomInstance.moveBy(0, -e.deltaY, 0)
        this.closeTut()
      }
    }
    if (Object.keys(this.$store.getters.viewed).length === 0 && this.$store.getters.viewed.constructor === Object) {
      this.$router.push({ name: 'Home', params: { type: 'Videos', reference: 51 } })
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.centerHome)
  }
}
</script>

<style scoped>
  .home {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .map {
    width: 100vw;
    height: 100vw;
    min-width: 100vh;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .map_bg {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply
  }
  .icon, .tutorial {
    position: absolute;
    width: 10vw;
    height: auto;
  }
  .tutorial {
    width: 8vw;
    height: 8vw;
    min-width: 8vh;
    min-height: 8vh;
    top: 10%;
    right: 10%;
    z-index: 5;
  }
  .icon img {
    width: 6vw;
    min-width: 6vh;
  }
  .icon figcaption {
    color: #fff;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 2vh;
    /* text-shadow: .03em 0 #000, -.05em 0.05em #000; */
    font-weight: 900;
  }
  .icon:hover figure figcaption { color: #000 }

  .Afogado { top: 75%; left: 15%; }
  .Cavalhada { top: 70%; left: 70%; }
  .Congada { top: 75%; left: 52.5%; }
  .Folia { top: 35%; left: 70%; }
  .Igreja { top: 37.5%; left: 42.5%; }
  .Imperio { top: 60%; left: 40%; }
  .Praca { top: 50%; left: 56%; }
  .Procissao { top: 52.5%; left: 20%; }
  .mainLogo { position: absolute; top: 30%; left: 20%; width: 15vw; min-width: 15vh; height: auto; }

  .rosa {
    position: absolute;
    bottom: 5vh; right: 5vh;
    width: 10vw; height: 10vw;
    max-width: 200px; max-height: 200px;
    mix-blend-mode: multiply;
  }

  @media (orientation: portrait) {
    .tutorial {
      top: auto; right: auto;
      bottom: 10%; left: 10%;
      transform: rotate(90deg);
    }
  }
</style>
