<template>
  <div>
    <closeButton @close="closePage" />

    <Praca v-if="$route.params.page === 'praca'" />
    <Diversoes v-else-if="$route.params.page === 'diversoes'" />
    <Cadeira v-else />
  </div>
</template>

<script>
import closeButton from '@/components/closeButton.vue'
import Praca from '@/components/pages/Praca.vue'
import Cadeira from '@/components/pages/Cadeira.vue'
import Diversoes from '@/components/pages/Diversoes.vue'

import { mapActions } from 'vuex'

export default {
  name: 'Page',
  components: {
    Praca,
    Cadeira,
    Diversoes,
    closeButton
  },
  methods: {
    ...mapActions(['trailed']),
    closePage () {
      this.$router.push({ name: 'Path', params: { path: this.$route.params.path, step: this.$route.params.step, toend: true } })
    }
  },
  mounted () {
    this.trailed({ trail: this.$store.state.pages[this.$route.params.page].trail, item: this.$store.state.pages[this.$route.params.page].content })
  }
}
</script>

<style scoped>

</style>
