<template>
  <div>
    <transition name="cover-slide">
      <Cover v-if="coverShow" @closeCover="closeCover" />
    </transition>
    <Praca v-if="parseInt($route.params.step) === 0 && $route.params.path === 'praca'"/>
    <div v-else>
      <Video
        ref="vidComponent"
        :location="location"
        @end="endVid"/>
      <transition name="slide-up">
        <vidTransition v-show="transition" @review="restart" />
      </transition>
    </div>
  </div>
</template>

<script>
import Video from '@/components/Video.vue'
import Praca from '@/components/pages/Praca.vue'
import Cover from '@/components/Cover.vue'
import vidTransition from '@/components/vidTransition.vue'

import { mapActions } from 'vuex'

export default {
  name: 'scriptPath',
  components: {
    Cover,
    Praca,
    Video,
    vidTransition
  },
  data () {
    return {
      transition: false,
      coverShow: false
    }
  },
  computed: {
    location () { return this.$route.params.path !== 'praca' ? this.$store.state.script[this.$route.params.path].videos[this.$route.params.step].src : '' }
  },
  methods: {
    ...mapActions(['seen', 'collected']),
    endVid () {
      this.$refs.vidComponent.videoStop()
      this.transition = true
      this.seen({ path: this.$route.params.path, step: this.$route.params.step })
      for (const cat in this.$store.state.script[this.$route.params.path].videos[this.$route.params.step].collectables) {
        this.collected({ cat: cat, item: this.$store.state.script[this.$route.params.path].videos[this.$route.params.step].collectables[cat] })
      }
    },
    restart () {
      this.transition = false
      this.$refs.vidComponent.videoRestart()
    },
    closeCover () {
      this.coverShow = false
      if (this.$refs.vidComponent) {
        this.$refs.vidComponent.videoPlay()
      }
    }
  },
  watch: {
    '$route.params.step': function () {
      this.transition = false
      if (this.$refs.vidComponent) {
        this.$refs.vidComponent.videoReload()
        this.seen({ path: this.$route.params.path, step: this.$route.params.step })
      }
    }
  },
  mounted () {
    window.addEventListener('keyup', (e) => {
      if (e.code === 'Space') {
        if (!this.$route.params.type) {
          this.$refs.vidComponent.togglePlay()
        }
      }
    })
    if (this.$route.params.toend) {
      this.endVid()
    }
    if (this.$route.params.intro) {
      this.coverShow = this.$route.params.intro
    }
    this.seen({ path: this.$route.params.path, step: this.$route.params.step })
  }
}
</script>

<style scoped>

</style>
