<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.caminhosdodivino.com.br" />
    <meta name="twitter:title" content="Caminhos do Divino" />
    <meta name="twitter:description" content="Vue sample site showing off Twitter and Facebook Cards." />
    <meta name="twitter:image" content="https://www.caminhosdodivino.com.br/meta/divino.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.caminhosdodivino.com.br" />
    <meta property="og:title" content="Exposição interativa multimídia Caminhos do Divino" />
    <meta property="og:site_name" content="Caminhos do Divino" />
    <meta property="og:description" content="Quer saber tudo sobre a festa do Divino de São Luiz do Paraitinga? Confira a exposição interativa multimídia: fotos, vídeos, imagens 360 graus, textos e animações organizados de uma maneira que você escolhe o que mais te interessa conhecer." />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image" itemprop="image" content="https://www.caminhosdodivino.com.br/meta/divino.jpg" />
    <meta property="og:image:secure_url" itemprop="image" content="https://www.caminhosdodivino.com.br/meta/divino.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="'og:image:heigh" content="800" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" id="fb-root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
