<template>
  <main class="flex col center">
      <h1 class="tit grow flex center">{{$store.state.pages[$route.params.page].name}}</h1>
      <ul :style="{'background-image': 'url(' + require('@/assets/chair.svg') + ')'}">
        <li class="text flex col center" v-if="key !== ''">
          <router-link
            :to="{
              name: $route.name,
              params: {
                name: $route.params.page,
                path: $route.params.path,
                step: $route.params.step,
                type: $store.state.collectables[$store.state.pages[$route.params.page].items[key].type].url,
                reference: $store.state.pages[$route.params.page].items[key].src
              }
            }"
          >
            <h3>{{$store.state.collectables[$store.state.pages[$route.params.page].items[key].type].items[$store.state.pages[$route.params.page].items[key].src].name}}</h3>
            <small>{{$store.state.collectables[$store.state.pages[$route.params.page].items[key].type].items[$store.state.pages[$route.params.page].items[key].src].credit}}</small>
          </router-link>
        </li>
        <li class="chair" v-if="key !== ''">
          <router-link
            class="imgLink flex center"
            :to="{
              name: $route.name,
              params: {
                name: $route.params.page,
                path: $route.params.path,
                step: $route.params.step,
                type: $store.state.collectables[$store.state.pages[$route.params.page].items[key].type].url,
                reference: $store.state.pages[$route.params.page].items[key].src
              }
            }"
          >
            <img
              :ref="$store.state.pages[$route.params.page].items[key].src"
              :alt="'imagem de ' + $store.state.pages[$route.params.page].items[key].credit"
              :src="require('@/assets/Entrevistas/' + $store.state.pages[$route.params.page].items[key].src + '-on.png')"
              />
          </router-link>
        </li>
        <li
          v-for="(item, itemKey) in $store.state.pages[$route.params.page].items"
          :class="['image' + (itemKey + 1), 'flex center relative']"
          :key="itemKey"
          @mouseover="updateInfo(itemKey)"
          @click="updateInfo(itemKey)"
          >
          <img
            ref="link.img"
            :alt="'imagem de ' + item.credit "
            :src="require('@/assets/Entrevistas/' + item.src + '-off.png')"
            />
        </li>
      </ul>

  </main>
</template>

<script>
export default {
  name: 'pages',
  data () {
    return {
      key: ''
    }
  },
  methods: {
    updateInfo (key) {
      this.key = key
    }
  }
}
</script>

<style scoped>
  img {border-radius: 50%;}
  ul {
    display: grid;
    grid-template:
        "txt txt txt txt txt txt" 20vh
        "i1 .   .   .    .  i2" 10vh
        " . i3  sit sit  i4 . " 10vh
        "i5  .  sit sit   . i6" 10vh
        " . i7  sit sit  i8 . " 10vh
        "i9  .   .   .  .  i10" 10vh
        " . i11  .   . i12  . " 10vh / 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 95vw;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  li { overflow: hidden; }
    .text  {grid-area: txt; text-align: center; justify-content: flex-start;}
    .chair {grid-area: sit;}
    .image1 {grid-area: i1;}
    .image2 {grid-area: i2;}
    .image3 {grid-area: i3;}
    .image4 {grid-area: i4;}
    .image5 {grid-area: i5;}
    .image6 {grid-area: i6;}
    .image7 {grid-area: i7;}
    .image8 {grid-area: i8;}
    .image9 {grid-area: i9;}
    .image10 {grid-area: i10;}
    .image11 {grid-area: i11;}

  @media (orientation: portrait) {
    ul {
      width: 80vw; height: 100vw;
      flex-grow: 1;
      grid-template:
        "txt txt txt txt txt" 1fr
        "txt txt txt txt txt" 1fr
        " .  i1   .  i2  . " 1fr
        "i3 sit sit sit i4" 1fr
        "i5 sit sit sit i6" 1fr
        " .  i7  .  i8   ." 1fr
        "i10  .  i9 .  i11" 1fr / 1fr 1fr 1fr 1fr 1fr;
       background-position: bottom;
    }
    li {padding: 10%;}
    .tit {align-items: flex-end;}
  }

</style>
