<template>
  <main class="flex col center">

      <h1 class="grow flex center">{{$store.state.pages.diversoes.name}}</h1>
      <ul>
        <li class="text flex col center" v-if="key !== ''">
          <router-link
            :to="{
              name: $route.name,
              params: {
                name: $route.params.page,
                path: $route.params.path,
                step: $route.params.step,
                type: $store.state.collectables[$store.state.pages[$route.params.page].items[key].type].url,
                reference: $store.state.pages[$route.params.page].items[key].src
              }
            }"
          >
            <h3>{{$store.state.collectables[$store.state.pages[$route.params.page].items[key].type].items[$store.state.pages[$route.params.page].items[key].src].name}}</h3>
            <small>{{$store.state.collectables[$store.state.pages[$route.params.page].items[key].type].items[$store.state.pages[$route.params.page].items[key].src].credit}}</small>
          </router-link>
        </li>
        <li class="chair" v-if="key !== ''">
          <router-link
              class="imgLink flex center"
              :to="{
                name: $route.name,
                params: {
                  name: $route.params.page,
                  path: $route.params.path,
                  step: $route.params.step,
                  type: $store.state.collectables[$store.state.pages[$route.params.page].items[key].type].url,
                  reference: $store.state.pages[$route.params.page].items[key].src
                }
              }"
            >
              <img
                :ref="$store.state.pages.diversoes.items[key].src"
                :alt="'imagem de ' + $store.state.pages.diversoes.items[key].credit"
                :src="require('@/assets/Entrevistas/' + $store.state.pages.diversoes.items[key].src + '-on.png')"
                />
          </router-link>
        </li>
        <li
          v-for="(item, itemKey) in $store.state.pages.diversoes.items"
          :class="'image' + (itemKey + 1)"
          :key="itemKey"
          @mouseover="updateInfo(itemKey)"
          @click="updateInfo(itemKey)"
          >
          <img
            ref="link.img"
            :alt="'imagem de ' + item.credit "
            :src="require('@/assets/Entrevistas/' + item.src + '-off.png')"
            />
        </li>
      </ul>

  </main>
</template>

<script>
export default {
  name: 'Diversoes',
  data () {
    return {
      key: ''
    }
  },
  methods: {
    updateInfo (key) {
      this.key = key
    }
  }
}
</script>

<style scoped>
  img {border-radius: 50%;}
  ul {
    display: grid;
    grid-template:
        ".  .  .  .   i1  .  .  .  ." 3fr
        "i2 i2 . sit sit sit . i3 i3" 2fr
        ".  .  . sit sit sit .  .  ." 2fr
        ". i4 i4 sit sit sit i5 i5 ." 1fr
        ". i4 i4  .   .   .  i5 i5 ." 1fr
        "txt txt txt txt txt txt txt txt txt" 2fr / 1fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
    width: 90vh; height: 80vh;
  }
    .text  {grid-area: txt; text-align: center;}
    .chair {grid-area: sit;}
    .image1 {grid-area: i1;}
    .image2 {grid-area: i2;}
    .image3 {grid-area: i3;}
    .image4 {grid-area: i4;}
    .image5 {grid-area: i5;}
    .image6 {grid-area: i6;}
    .image7 {grid-area: i7;}
  li img {max-height: 100%; width: auto; max-width: 100%;}

  @media (orientation: portrait) {
    ul {
      grid-template:
        ".  .  .  .   i1  .  .  .  ." 3fr
        ".  .  . sit sit sit .  .  ." 1fr
        "i2 i2 . sit sit sit . i3 i3" 4fr
        ".  .  . sit sit sit .  .  ." 1fr
        ". i4 i4 sit sit sit i5 i5 ." 1fr
        ". i4 i4  .   .   .  i5 i5 ." 2fr
        "txt txt txt txt txt txt txt txt txt" 2fr / 1fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr;
      width: 90vw; height: 100vw;
      margin-bottom: 10vh;
    }
    title { height: 50vh; }
  }
</style>
