<template>
  <perfect-scrollbar tag="main" class="praca" @click="closeTut">
    <closeButton @close="$router.push({name: 'Home'})" />

    <figure class="tutorial" v-if="this.$store.getters.tutorial.praca">
      <img class="flex center svg blink" alt="Ícone representando um clique" :src="require('@/assets/icone-scroll.svg')">
    </figure>
    <ul class="flex">
      <li v-for="(item, key) in $store.state.pages.praca.items"
        :class="{
          'flex col center person': true,
          'bola': item.type === 'videos'
        }" :key="key"
        :style="{'order': key * 2}">
          <router-link
            :to="{
              name: $route.name,
              params: {
                path: $route.params.path,
                step: $route.params.step,
                type: $store.state.collectables[$store.state.pages[$route.params.path].items[key].type].url,
                reference: $store.state.pages[$route.params.path].items[key].src
              }
            }"
            @click.native="open($store.state.collectables[$store.state.pages[$route.params.path].items[key].type].url, $store.state.pages[$route.params.path].items[key].src)"
          >
          <figure>
            <img ref="link.img" :alt="'imagem de ' + item.credit " :src="require('@/assets/Entrevistas/' + item.src + '-on.png')" />
            <figcaption>
              <h2 class="red">{{$store.state.collectables[$store.state.pages[$route.params.path].items[key].type].items[$store.state.pages[$route.params.path].items[key].src].name}}</h2>
            </figcaption>
          </figure>
        </router-link>
      </li>
      <li class="fill" v-for="i in 66" :key="i + 'b'" :style="{'order': i}"></li>
      <li class="cover flex col center">
        <h1>{{$store.state.pages.praca.slug}}</h1>
      </li>
    </ul>

  </perfect-scrollbar>
</template>

<script>
import closeButton from '@/components/closeButton.vue'

import { mapActions } from 'vuex'

export default {
  name: 'Praca',
  data () {
    return {
      cover: true,
      positionlist: []
    }
  },
  components: { closeButton },
  methods: {
    ...mapActions(['seen', 'collected', 'disabled']),
    open (category, key) {
      this.seen({ path: category, step: key })
    },
    closeTut () {
      if (this.$store.getters.tutorial.praca === true) {
        this.disabled('praca')
      }
    }
  },
  mounted () {
    this.seen({ path: this.$route.params.path, step: this.$route.params.step })
    for (const cat in this.$store.state.pages.praca.items) {
      this.collected({ cat: this.$store.state.pages.praca.items[cat].type, item: this.$store.state.pages.praca.items[cat].src })
    }
  }
}
</script>

<style scoped>
  .praca {
    padding: 5vw;
  }
  ul {
    flex-wrap: wrap;
  }
  li {
    position: relative;
    padding: 2vw;
    width: 14.25%;
    }
    li:nth-of-type(4n) figure {transform: translateX(50%);}
    li:nth-of-type(4n+1) figure {transform: translateX(-25%);}
    li:nth-of-type(4n+2) figure {transform: translateY(-50%);}
    li:nth-of-type(4n+3) figure {transform: translateY(25%);}
    li:nth-of-type(6n) figure {transform: translateX(100%);}
    li:nth-of-type(6n+4) figure {transform: translateY(-60%);}
    li.cover {width: 100vw; order: 4; transform: none;}

  .person {z-index: 5;}
  .person img { padding: 5%; transition: all .3s ease;}
  .person:hover img {padding: 0;}
  .person figcaption {opacity: 0; transition: all .3s ease;}
  .person figure:hover figcaption {opacity: 1;}
  .bola img {border-radius: 50%;}
  h1 {text-align: center;}

  .tutorial {
    position: absolute;
    width: 8vw;
    height: 8vw;
    min-width: 8vh;
    min-height: 8vh;
    top: 10%;
    right: 10%;
    z-index: 5;
  }

  @media (orientation: portrait) {
    li {width: 33%; padding: 5vh;}
      li:nth-of-type(4n) figure {transform: translateX(-20%);}
      li:nth-of-type(4n+1) figure {transform: translateX(20%);}
      li:nth-of-type(4n+2) figure {transform: translateY(-20%);}
      li:nth-of-type(4n+3) figure {transform: translateY(20%);}
      li:nth-of-type(6n) figure {transform: translateX(10%);}
      li:nth-of-type(6n+4) figure {transform: translateY(10%);}
    .fill:nth-of-type(n+2) {display: none;}
    .person figcaption {opacity: 1;}
    h1 {font-size: 1.5em;}
  }

</style>
