<template>
  <div class="creditBar">
    <div class="credito"
      v-for="(credit, key) in $store.state.collectables.videos.items[location].titles"
      :key="key">
      <transition name="slide-right">
        <div class="wrapper"
          v-show="Math.round(currentTime) >= credit.in && Math.round(currentTime) <= credit.out">
        <h3>{{credit.title}}</h3>
        <span v-if="credit.subtitle">{{credit.subtitle}}</span>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Credit',
  props: ['currentTime', 'location']
}
</script>

<style scoped>
.creditBar {
  position: absolute;
  bottom: 8vh;
  right: 2vw;
  z-index: 77;
}

.credito {
  text-align: right;
  width: 90vw;
}
</style>
