<template>
  <div class="displayText">
    <div class="text"
      v-for="(text, key) in $store.state.collectables.videos.items[location].display"
      :key="key">
    <transition name="slide">
      <div class="wrapper"
        v-show="Math.round(currentTime) >= text.in && Math.round(currentTime) <= text.out">
      <img :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
      <h2>{{text.title}}</h2>
      <p>{{text.content}}</p>
      <img class="invert" :src="require('@/assets/MolduraAberturaTexto.svg')" alt="moldura em estilo rococó" />
      </div>
    </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'displayText',
  props: ['location', 'currentTime']
}
</script>

<style scoped>
.displayText {
  position: absolute;
  top: 50vh;
  left: 2vw;
  transform: translateY(-50%);
  z-index: 22;
}
.text {
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  display: inline-block;
  left: 0;
  width: 40vw;
  padding: 2vh 2vw;
  background: rgba(0,0,0,.5);
  text-align: center;
}
.wrapper h1, .wrapper p {margin: 2vh; font-size: .8em;}
.wrapper .invert {transform: rotate(180deg);}

.slide-enter-active, .slide-leave-active { transition: left .5s ease; }
.slide-enter, .slide-leave-to { left: -100vw;}

@media (orientation:portrait) {
  .displayText {
    top: 1vh;
    left: 50vw;
    transform: translateX(-50%);
  }
  h2 {margin-top: 2vh}
  .wrapper {width: 60vw; padding: 0 2vw;}
}
</style>
