<template>
  <transition name="fade" mode="out-in">
    <main class="pause" v-show="show">
      <figure class="flex col center back" @click="$emit('restart')">
        <img alt="Ícone Recomeçar" :src="require('@/assets/BotaoRetorno.svg')" />
        <figcaption><h2>Recomeçar</h2></figcaption>
      </figure>
      <figure class="flex col center playBtn" @click="$emit('play')">
        <img alt="Ícone Play" class="play" :src="require('@/assets/BotaoPlayTexturizado.svg')" />
      </figure>
      <figure class="flex col center next" @click="$emit('jump')">
        <img alt="Ícone Saltar" :src="require('@/assets/BotaoNetx.svg')" />
        <figcaption><h2>Saltar</h2></figcaption>
      </figure>
      <section class="logo">
        <router-link :to="{name: 'Home'}">
          <img alt="Logo Caminhos do Divino" :src="require('@/assets/logo.svg')">
        </router-link>
      </section>
    </main>
  </transition>
</template>

<script>
export default {
  name: 'Pause',
  props: ['show']
}
</script>

<style scoped>
  .pause {
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    z-index: 70;
  }
  .pause figure {
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  .pause figure:hover {background-color: rgba(0,0,0,0.4);}
  .pause figure:hover img, .pause figure:hover figcaption {opacity: .5;}

  .pause figure img {width: 10vw; max-width: 100px; height: auto; transition: all .3s ease-in-out;}
  .pause .play {width: 15vw; max-width: 20vh; transition: all .3s ease-in-out;}

  .logo {
    width: 30vh;
    height: 20vh;
    position: absolute;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
  }

   @media (orientation: portrait) {
     .pause {
     grid-template:
      '  .   .  ' 2fr
      'play play' 60vw
      'back next' 1fr
      '  .   .  ' 1fr / 1fr 1fr;
     }
     .back {grid-area: back;}
     .playBtn {grid-area: play;}
     .next {grid-area: next;}
     .logo {width: 40vw; margin-top: 5vh;}
   }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    opacity: 0;
  }
</style>
