<template>
  <main class="player">
    <video
      ref="video"
      playsinline
      disablePictureInPicture
      @canplay="$emit('canplay')"
      @waiting="$emit('waiting')"
      @stalled="$emit('waiting')"
      @playing="$emit('playing')"
      @pause="$emit('paused')"
      @ended="endVid"
      @click="togglePlay"
      @timeupdate="playTime"
      @loadedmetadata="loadedmetadata"
    >
      <source :src="'https://caminhosdodivino.com.br/videos/720/' + location + '.mp4'" type="video/mp4">
    </video>
    <div class="controls flex">
      <section class="flex">
        <button @click="togglePlay" v-if="this.$refs.video">
          <img v-if="!this.$refs.video.paused" :src="require('@/assets/BotaoPause.svg')" />
          <img v-else :src="require('@/assets/BotaoPlay.svg')" />
        </button>
      </section>

      <section
        ref="timeline"
        class="timeline flex grow"
        @mousedown="grabSeekbar"
        @mousemove="moveSeekbar"
        @mouseup="releaseSeekbar"
        v-touch:start="grabSeekbar"
        v-touch:moving="moveSeekbar"
        v-touch:end="releaseSeekbar"
        >
        <div ref="seekbar" class="seekbar" :style="{width: barSize + '%'}"></div>
        <div ref="buffer" class="buffer" :style="{width: bufferSize + '%'}"></div>
        <hr />
      </section>

      <section class="timer">
        <pre><span>{{convertSecondsToTime(time)}}</span> / {{convertSecondsToTime(duration)}}</pre>
      </section>

      <section>
        <button @click="toggleSound" v-if="this.$refs.video">
            <img v-if="this.$refs.video.muted" :src="require('@/assets/BotaoMute.svg')" />
            <img v-else :src="require('@/assets/BotaoUnmute.svg')" />
        </button>
      </section>

    </div>
  </main>
</template>

<script>
export default {
  name: 'Player',
  data () {
    return {
      time: 0,
      duration: 0,
      barSize: 0,
      bufferSize: 0,
      loadSize: 0,
      isGrabbingSeekbar: false
    }
  },
  props: ['location'],
  methods: {
    loadedmetadata () { this.duration = this.player.duration },
    playVid () { this.player.play() },
    pauseVid () { this.player.pause() },
    togglePlay () { this.player.paused ? this.playVid() : this.pauseVid() },
    toggleSound () { this.player.muted = !this.player.muted },
    playTime () {
      this.$emit('timeUpdate', this.player.currentTime)
      this.$emit('playing')
      this.time = this.player.currentTime
      this.barSize = this.time / this.duration * 100
      this.bufferSize = this.player.buffered.end(0) / this.duration * 100
    },
    convertSecondsToTime (time) {
      let seconds = Math.floor(time % 60)
      if (seconds < 10) seconds = '0' + seconds
      const minutes = Math.floor(time / 60 % 60)
      return `${minutes}:${seconds}`
    },
    grabSeekbar (event) {
      this.isGrabbingSeekbar = true
      event.preventDefault()
      const lX = event.layerX
      this.barSize = lX / this.$refs.timeline.clientWidth * 100
      this.player.currentTime = lX / this.$refs.timeline.clientWidth * this.player.duration
    },
    moveSeekbar (event) {
      event.preventDefault()
      if (!this.isGrabbingSeekbar) return
      const lX = event.type === 'touchmove' ? event.targetTouches[0].clientX - this.$refs.timeline.offsetLeft : event.layerX
      this.barSize = lX / this.$refs.timeline.clientWidth * 100
      this.player.currentTime = lX / this.$refs.timeline.clientWidth * this.player.duration
    },
    releaseSeekbar (event) {
      event.preventDefault()
      this.isGrabbingSeekbar = false
      if (this.player.paused) {
        this.playVid()
      }
    },
    restartVid () {
      this.player.currentTime = 0
      this.playVid()
    },
    endVid () {
      this.pauseVid()
      this.$emit('ended', this.location)
    },
    loadVid () {
      if (this.location && this.player) {
        this.pauseVid()
        this.player.load().then(this.$emit('updated'))
        this.playVid()
      }
    }
  },
  mounted () {
    this.player = this.$refs.video
  }
}
</script>

<style scoped="">
video {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  width: 178vh;
  height: 57vw;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
}

.controls {
  position: absolute;
  bottom:0; left:0;
  width: 100vw;
  height: 7.5vh;
  max-height: 15px;
  min-height: 10px;
  align-items: center;
  margin: 1vh 0;
  z-index: 77;
}

.controls section {
  position: relative;
  margin: 1vh 1vw;
  height: 100%;
  align-items: center;
}

button {
    display: block;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 3vh;
    max-width: 20px;
}

.timeline hr {
  width: 100%;
  height: 0;
  border: 1px solid #FDB61C
}

.seekbar, .buffer {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  background-color: #FDB61C;
  transition: all .3s ease;
}
.seekbar {z-index: 2;}
.buffer { opacity: .5; }

.timer {
    display: flex;
    align-items: flex-end;
    font-size: .8em;
    font-family: sans-serif;
}
.timer span {color: #FDB61C}

@media (orientation:portrait) {
  button { width: 2vh; height: 2vh;}
  video {
    position: relative;
    width: 100vw;
    height: 57vw;
    top: 50%;
    left: auto;
    transform: translate3d(0,-50%,0);
  }
}

</style>
