<template>
  <transition name="slide-left">
    <div class="titleBar" v-show="show">
      <div class="wrapper">
        <transition name="text">
          <h1 class="texto" v-show="show"><div class="container">{{$store.state.collectables.videos.items[location].name}}</div></h1>
        </transition>
        <img :src="require('@/assets/MolduraTexto02Horizontal.svg')" />
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'Title',
  props: ['show', 'location']
}
</script>

<style scoped>
.titleBar {
  position: absolute;
  bottom: 8vh;
  left: 2vw;
  z-index: 95;
}
.container {width: 90vw;}
.texto {
  padding: 0 0 .4em 1em;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  width: 100%;
  }
.titleBar img {
  width: auto;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: .3em;
}

.wrapper {width: 100%; position: relative;}

.text-enter-active { transition: width .5s ease .5s; }
.text-leave-active { transition: width .5s ease; }
.text-enter, .text-leave-to { width: 0%; }

@media (orientation:portrait) {
  .texto {white-space:normal; font-size: 1.5em;}
}

</style>
